{% extends 'base/base.html' %}
{% load static %}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    {% block load_files %}
        <link href="{% static 'styleSheets/awards_actor.css' %}" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block content %}

    <div class="padding_right padding_left padding_top">
        <div id="info">
            <img src="{{ imageUrl }}">
            <div id="info_name">
                <p>
                    <a href="">
                        {{ name }}
                    </a>
                </p>
            </div>
            <p id="info_awards">
                جوایز
            </p>
            <p id="info_awardsNumber">
                {% if awardsNumber != 0 %}
                    {{ awardsNumber }}
                    جایزه
                {% endif %}
                {% if awardsNumber != 0 and nominatedNumber != 0 %}
                    و
                {% endif %}
                {% if nominatedNumber != 0 %}
                    {{ nominatedNumber }}
                    نامزدی
                {% endif %}
            </p>
        </div>

        <table class="content_tables content_tables_header">
            <tr>
                <td>
                    <p>
                        جشنواره فیلم فجر
                    </p>
                </td>
            </tr>
        </table>


        <table class="content_tables content_tables_content">
            {% for list in filmFajr.awardsList %}
                {% for award in list.content %}
                    <tr>
                        <td class="content_tables_year">
                            <p>
                                <a href="">
                                    {{ award.year }}
                                </a>
                            </p>
                        </td>
                        <td class="content_tables_cellContent">
                            <p>
                                {{ award.title }}
                                <br/>
                                <a href="">
                                    {{ award.movieName }}
                                </a>
                            </p>
                        </td>
                        {% if forloop.counter0 == 0 %}
                            <td class="content_tables_cellHeader" rowspan="{{ list.content|length }}">
                                <p>
                                    {{ list.header }}
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>



        <table class="content_tables content_tables_header">
            <tr>
                <td>
                    <p>
                        جشن خانه سینما
                    </p>
                </td>
            </tr>
        </table>


        <table class="content_tables content_tables_content">
            {% for list in khaneCinema.awardsList %}
                {% for award in list.content %}
                    <tr>
                        <td class="content_tables_year">
                            <p>
                                <a href="">
                                    {{ award.year }}
                                </a>
                            </p>
                        </td>
                        <td class="content_tables_cellContent">
                            <p>
                                {{ award.title }}
                                <br/>
                                <a href="">
                                    {{ award.movieName }}
                                </a>
                            </p>
                        </td>
                        {% if forloop.counter0 == 0 %}
                            <td class="content_tables_cellHeader" rowspan="{{ list.content|length }}">
                                <p>
                                    {{ list.header }}
                                </p>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>




{% endblock %}



</body>
</html>