{% extends 'base/base.html' %}
{% load static %}
{% load toPersian %}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    {% block load_files %}
        <link href="{% static 'styleSheets/awards_actor.css' %}" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block content %}

    <div class="padding_right padding_left padding_top">
        <div id="info">
            <img src="{{ celebrity.get_picture }}">
            <div id="info_name">
                <p>
                    <a href="{% url 'CelebrityManager_show_celebrity' celebrity.id %}">
                        {{ celebrity.name }}
                    </a>
                </p>
            </div>
            <p id="info_awards">
                جوایز
            </p>
            <p id="info_awardsNumber">
                {% if awarded != 0 %}
                    {{ awarded|IntegerToPersian }}
                    جایزه
                {% endif %}
                {% if awarded != 0 and candidates != 0 %}
                    و
                {% endif %}
                {% if candidates != 0 %}
                    {{ candidates|IntegerToPersian }}
                    نامزدی
                {% endif %}
            </p>
        </div>


        {% if simorgh_awarded or simorgh_diploma or simorgh_candidate %}
            <table class="content_tables content_tables_header">
                <tr>
                    <td>
                        <p>
                            جشنواره فیلم فجر
                        </p>
                    </td>
                </tr>
            </table>
        {% endif %}


        <table class="content_tables content_tables_content">

            {% for award in simorgh_awarded %}
                <tr>
                    <td class="content_tables_year">
                        <p>
                            <a href="">
                                {{ award.date.year|IntegerToPersian }}
                            </a>
                        </p>
                    </td>
                    <td class="content_tables_cellContent">
                        <p>
                            {{ award.category }}
                            <br/>
                            <a href="{% url 'MovieManager_show_movie' award.movie.id %}">
                                {{ award.movie.name }}
                            </a>
                        </p>
                    </td>
                    {% if forloop.counter0 == 0 %}
                        <td class="content_tables_cellHeader" rowspan="{{ simorgh_awarded|length }}">
                            <p>
                                برنده سیمرغ بلورین
                            </p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for award in simorgh_diploma %}
                <tr>
                    <td class="content_tables_year">
                        <p>
                            <a href="">
                                {{ award.date.year|IntegerToPersian }}
                            </a>
                        </p>
                    </td>
                    <td class="content_tables_cellContent">
                        <p>
                            {{ award.category }}
                            <br/>
                            <a href="{% url 'MovieManager_show_movie' award.movie.id %}">
                                {{ award.movie.name }}
                            </a>
                        </p>
                    </td>
                    {% if forloop.counter0 == 0 %}
                        <td class="content_tables_cellHeader" rowspan="{{ simorgh_diploma|length }}">
                            <p>
                                دیپلم افتخار
                            </p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for award in simorgh_candidate %}
                <tr>
                    <td class="content_tables_year">
                        <p>
                            <a href="">
                                {{ award.date.year|IntegerToPersian }}
                            </a>
                        </p>
                    </td>
                    <td class="content_tables_cellContent">
                        <p>
                            {{ award.category }}
                            <br/>
                            <a href="{% url 'MovieManager_show_movie' award.movie.id %}">
                                {{ award.movie.name }}
                            </a>
                        </p>
                    </td>
                    {% if forloop.counter0 == 0 %}
                        <td class="content_tables_cellHeader" rowspan="{{ simorgh_candidate|length }}">
                            <p>
                                نامزد
                            </p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>


        {% if cinemaHome_awarded or cinemaHome_diploma or cinemaHome_candidate %}
            <table class="content_tables content_tables_header">
                <tr>
                    <td>
                        <p>
                            جشن خانه سینما
                        </p>
                    </td>
                </tr>
            </table>
        {% endif %}


        <table class="content_tables content_tables_content">

            {% for award in cinemaHome_awarded %}
                <tr>
                    <td class="content_tables_year">
                        <p>
                            <a href="">
                                {{ award.date.year|IntegerToPersian }}
                            </a>
                        </p>
                    </td>
                    <td class="content_tables_cellContent">
                        <p>
                            {{ award.category }}
                            <br/>
                            <a href="{% url 'MovieManager_show_movie' award.movie.id %}">
                                {{ award.movie.name }}
                            </a>
                        </p>
                    </td>
                    {% if forloop.counter0 == 0 %}
                        <td class="content_tables_cellHeader" rowspan="{{ cinemaHome_awarded|length }}">
                            <p>
                                برنده تندیس جشن خانه سینما
                            </p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for award in cinemaHome_diploma %}
                <tr>
                    <td class="content_tables_year">
                        <p>
                            <a href="">
                                {{ award.date.year|IntegerToPersian }}
                            </a>
                        </p>
                    </td>
                    <td class="content_tables_cellContent">
                        <p>
                            {{ award.category }}
                            <br/>
                            <a href="{% url 'MovieManager_show_movie' award.movie.id %}">
                                {{ award.movie.name }}
                            </a>
                        </p>
                    </td>
                    {% if forloop.counter0 == 0 %}
                        <td class="content_tables_cellHeader" rowspan="{{ cinemaHome_diploma|length }}">
                            <p>
                                دیپلم افتخار
                            </p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for award in cinemaHome_candidate %}
                <tr>
                    <td class="content_tables_year">
                        <p>
                            <a href="">
                                {{ award.date.year|IntegerToPersian }}
                            </a>
                        </p>
                    </td>
                    <td class="content_tables_cellContent">
                        <p>
                            {{ award.category }}
                            <br/>
                            <a href="{% url 'MovieManager_show_movie' award.movie.id %}">
                                {{ award.movie.name }}
                            </a>
                        </p>
                    </td>
                    {% if forloop.counter0 == 0 %}
                        <td class="content_tables_cellHeader" rowspan="{{ cinemaHome_candidate|length }}">
                            <p>
                                نامزد
                            </p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    </div>




{% endblock %}



</body>
</html>