{% extends 'base/base.html' %}
{% load static %}
{% load toPersian %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        all_crew
    {% endblock %}
    {% block load_files %}
        <link href="{% static 'styleSheets/allCrew.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block content %}
    <div class="wrapper float_right padding_right_large padding_top_large padding_left_large padding_bottom_large">
        <div class="float_right margin_bottom_large">
            <img src="{{ movie.get_picture }}" class="float_right" id="info_image">
            <p id="info_name">
                <a href="{% url 'MovieManager_show_movie' movie.id %}">
                    {{ movie.name }}
                </a>
                ({{ movie.year }})
            </p>
            </br>
            <p id="info_allCrew">
                تمام عوامل
            </p>
        </div>

        {% for item in avamel|slice:':3' %}
            {% if item.1|length > 0 %}
                <div class="role_div margin_bottom_large">
                    <p>
                        {{ item.0|roleToPersian }}
                        {% for person in item.1 %}
                            </br>
                            <a href="">
                                {{ person.name }}
                            </a>
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
        {% endfor %}

        <div class="table">
            <div class="table_header font_white">
                <p>
                    لیست کامل بازیگران
                </p>
            </div>
            {% for act in acts %}
                <div class="table_item">
                    <img src="{{ act.celebrity.get_picture }}">
                    <div>
                        <p>
                            <a href="">
                                {{ act.celebrity.name }}
                            </a>
                        </p>
                    </div>
                    <p>
                        {{ act.alias }}
                    </p>
                </div>
            {% endfor %}
        </div>

        {% for item in avamel|slice:'3:' %}
            {% if item.1|length > 0 %}
                <div class="role_div margin_bottom_large">
                    <p>
                        {{ item.0|roleToPersian }}
                        {% for person in item.1 %}
                            </br>
                            <a href="">
                                {{ person.name }}
                            </a>
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

{% block sideBar_commingSoon %}
{% endblock %}

{% block sideBar_saleTable %}
{% endblock %}

{% block sideBar_mostVisited %}
{% endblock %}


</body>
</html>