{% extends 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


    {% block side_bar %}
        <div id="movAct_sideBar_fastAccess">

            <div id="movAct_sideBar_fastAccess_title">
                <p>
                    دستیابی سریع
                </p>
            </div>


            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#movie_fActors">
                        تمام بازیگران و عوامل
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="">
                        نقد های منتقدان
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#movie_bestDialogue">
                        دیالوگ های ماندگار
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#movie_userReview">
                        نقد های کاربران
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#movie_prize">
                        جوایز
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#movie_userPost">
                        پست های کاربران
                    </a>
                </p>
            </div>

        </div>

        <div id="movAct_sideBar_bestArticle">
            <div id="movAct_sideBar_bestArticle_title">
                <p>
                مقاله برگزیده
                </p>
            </div>

            <img src="/media/images/movie/bestArticleImg.jpg" id="movAct_sideBar_bestArticle_image">

            <div id="movAct_sideBar_bestArticle_content">
                <p>
                    {{ bestArticle }}
                </p>

                <p id="movAct_sideBar_bestArticle_content_continue">
                    <a href="">
                        ادامه مطلب >>
                    </a>
                </p>

            </div>


        </div>


        <div id="movAct_sideBar_news">
            <div id="movAct_sideBar_news_title">
                <p>
                    اخبار
                </p>
            </div>

            {% for item in news %}
                <div class="div_longLine">
                    <a>
                        <p>
                            {{ item }}
                        </p>
                    </a>
                </div>
            {% endfor %}

            <p id="movAct_sideBar_news_seeAll">
                <a href="">
                    دیگر خبرها >>
                </a>
            </p>

        </div>


        <div id="movAct_sideBar_userList">
            <div id="movAct_sideBar_userList_title">
                <p>
                    آخرین لیست های کاربران
                </p>
            </div>

            {% for item in userList %}
                <div class="movAct_sideBar_userList_item div_longLine">
                    <img src="{{ item.url }}" class="movAct_sideBar_userList_image">

                    <p class="movAct_sideBar_userList_content">
                        {{ item.content }}
                    </p>

                    <p class="movAct_sideBar_userList_content_writer">
                        ایجاد شده توسط
                        <a>
                            {{ item.writer }}
                        </a>
                    </p>
                </div>
            {% endfor %}

            <p id="movAct_sideBar_userList_seeAll">
                <a href="">
                همه لیست ها >>
                </a>
            </p>

        </div>


    {% endblock %}










</body>
</html>