{% extends 'base/base.html' %}
{% load static %}
{% load toPersian %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% block load_files %}
        <link href="{% static "styleSheets/movie.css" %}" rel="stylesheet">
        <script src="{% static "scripts/movie.js" %}" language="JavaScript"></script>
    {% endblock %}
</head>
<body>



    {% block content %}
        <div id="info" class="border_bottom_div">
            <img src="{{ movie.poster.url }}" id="info_mainPoster">
            <p id="info_name">
                <dum id="info_name_1">
                    {{ movie.name }}
                </dum>
                (
                <dum id="info_year">
                    {{ movie.year }}
                </dum>
                )
                </br>
                <dum id="info_time">
                    {{ movie.duration }}
                    دقیقه
                    |
                    {% for genre in movie.genre.all %}
                        {{ genre }}
                    {% endfor %}
                </dum>
            </p>

            <div id="info_point">
                <div id="info_point_number">
                    <p>
                        <dum id="info_point_number_1">
                            {{ movie.rate }}
                        </dum>
                        </br>
                        <dum id="info_point_number_2">
                            {{ movie.numUserRated|IntegerToPersian }}
                        </dum>
                    </p>
                </div>

                {% for item in circles %}
                    <img src="{{ item }}" class="info_circles">
                {% endfor %}

                <div id="info_info2">
                    <p>
                        {{ reviewer_review_count|IntegerToPersian }}
                        نقد منتقدان
                        |
                        {{ user_review_count|IntegerToPersian }}
                        نقد کاربران
                        </br>
                        نویسنده:
                        <a href="">
                            {{ nevisande.0 }}
                        </a>
                        </br>
                        کارگردان:
                        <a href="">
                            {{ kargardan.0.name }}
                        </a>
                    </p>
                </div>

                <div id="info_description">
                    <p>
                        {{ movie.summary|safe }}
                    </p>
                </div>

                <div id="info_images">
                    {% for item in images %}
                        <img src="{{ item.image.url }}" class="info_images_1">
                    {% endfor %}
                    <p id="info_seeAll">
                        <a>
                            همه عکس ها و ویدیوها>>
                        </a>
                    </p>
                </div>
            </div>
        </div>



        <div id="prize" class="border_bottom_div">
            <div id="prize_border">
                {% if award_simorgh_count %}
                    <p id="prize">
                    برنده
                    {{ award_simorgh_count|IntegerToPersian }}
                    سیمرغ بلورین.
                    </p>
                {% endif %}
                {% if total_award_count %}
                    {{ total_award_count|IntegerToPersian }}
                    جایزه و
                    {{ total_candidate_count|IntegerToPersian }}
                    نامزدی دیگر
                {% endif %}
                {% if top100_rank %}
                    {{ top100_rank }}
                    <a href="">
                    ۱۰۰ فیلم برتر
                    </a>
                {% endif %}
                <p id="prize_border_seeAll">
                    <a href="">
                    مشاهده همه جوایز>>
                    </a>
                </p>
            </div>
        </div>
        <div id="mainActors" class="border_bottom_div">

            <p id="mainActors_title">
                بازیگران اصلی
            </p>

            {% for actor, actName in actors.items|slice:":3" %}
                <img src="{{ actor.picture.url }}" class="mainActors_images">
            {% endfor %}
        </div>
        <div id="fActors" class="border_bottom_div">
            <p id="fActors_title">
                عوامل فیلم
            </p>
            <div id="fActors_fullList_title">
                <p>
                    لیست کامل بازیگران
                </p>
            </div>
            {% for actor, actName in actors.items %}
                <div class="fActors_fullList">
                    <img src="{{ actor.picture.url }}" class="fActors_fullList_image">
                    <div class="fActors_fullList_name">
                        <p>
                            <a href="">
                                {{ actor.name }}
                            </a>
                        </p>
                    </div>

                    <div class="fActors_fullList_movieName">
                        <p>
                            {{ actName }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <p id="fActors_fullList_seeAll">
                <a href="">
                    همه عوامل فیلم>>
                </a>
            </p>
        </div>


        <div id="keywords" class="border_bottom_div">
            <p id="keywords_1">
                کلمات کلیدی:
                {% for item in movie.keywords.all %}
                    {% if forloop.counter0 != 0 %}
                        |
                    {% endif %}
                    <a href="">
                        {{ item }}
                    </a>
                {% endfor %}
            </p>
        </div>



        <div id="sale" class="border_bottom_div">
            <p>
                فروش:
                {{ movie.sale }}
                تومان
            </p>
        </div>

        <div id="bestDialogue" class="border_bottom_div">
            <div id="bestDialogue_1">
                <p>
                    دیالوگ های ماندگار:
                    {% for item in movie.dialogues.all|slice:":1" %}
                            {{ item.text }}
                            <br/>
                    {% endfor %}
                    <div id="bestDialogue_2">
                        <p>
                            {% for item in movie.dialogues.all %}
                                {% if forloop.counter0 != 0 %}
                                    {{ item.text }}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <a id="bestDialogue_2_less">
                            کمتر>>
                            </a>
                        </p>
                    </div>
                </p>
            </div>
            <a id="bestDialogue_seeAll">
                <p>
                    بیشتر>>
                </p>
            </a>
        </div>



        <div id="userReview" class="border_bottom_div">
            <div id="userReview_1">
                <p>
                    <dum id="userReview_title">
                    نقدهای کاربران
                    </dum>

                    <a id="userReview_seeAll">
                        همه نقد های کاربران>>
                    </a>
                </p>
            </div>
            <p>
                <button id="userReview_write" class="btn-danger">
                        نوشتن نقد
                </button>
            </p>
        </div>



        <div id="userPost" class="border_bottom_div">
            <p id="userPost_title">
                پست های کاربران
            </p>
            <p id="userPost_lastPost_title">
                آخرین پست ها
            </p>
            {% for item in posts %}
                <div class="userPost_lastPost">
                    <div>
                        <p>
                            {{ item.content }}
                        </p>
                    </div>

                    <img src="{{ item.user.get_picture }}" class="userPost_lastPost_image">
                    <a>
                        <p>
                            {{ item.name }}
                        </p>
                    </a>
                </div>
            {% endfor %}
            <a id="userPost_seeAll">
                <p>
                    همه پست ها >>
                </p>
            </a>
        </div>


        <div id="changeInfo" class="border_bottom_div">
            <div>
                <p id="changeInfo_title">
                    تغییر اطلاعات
                    <dum>
                        (مخصوص کاربران ویژه)
                    </dum>
                </p>
            </div>
            <button id="changeInfo_button">
                <p>
                    ایجاد تغییرات
                </p>
            </button>
        </div>

    {% endblock %}


    {% block sideBar_arbitrary %}
        <div class="sideBar_divContainer">
            <div class="back_gray_dark font_white sideBar_header">
                <p>
                    دستیابی سریع
                </p>
            </div>
            <div class="sideBar_content back_gray_light">
                <div class="sideBar_fastAccess_div">
                    <p>
                        <a href="#fActors">
                            تمام بازیگران و عوامل
                        </a>
                    </p>
                </div>
                <div class="sideBar_fastAccess_div">
                    <p>
                        <a href="">
                            نقد های منتقدان
                        </a>
                    </p>
                </div>
                <div class="sideBar_fastAccess_div">
                    <p>
                        <a href="#bestDialogue">
                            دیالوگ های ماندگار
                        </a>
                    </p>
                </div>
                <div class="sideBar_fastAccess_div">
                    <p>
                        <a href="#userReview">
                            نقد های کاربران
                        </a>
                    </p>
                </div>
                <div class="sideBar_fastAccess_div">
                    <p>
                        <a href="#prize">
                            جوایز
                        </a>
                    </p>
                </div>
                <div class="sideBar_fastAccess_div">
                    <p>
                        <a href="#userPost">
                            پست های کاربران
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block sideBar_commingSoon %}
    {% endblock %}

    {% block sideBar_mostVisited %}
    {% endblock %}

    {% block sideBar_review %}
    {% endblock %}

    {% block sideBar_saleTable %}
    {% endblock %}





{#    slider#}
    {% block over_content %}

        <div id="slider_background_dark">
        </div>

        <div id="slider_background">
            <div id="slider_div">
                <button type="button" class="slider_close">
                    <img src="/static/icons/movie/closeSliderButton.png">
                </button>


                <button id="slider_arrowUp" class="slider_arrowButtons ">
                    <img src="/static/icons/test/arrowUp.png">
                </button>


                <div id="slider_images">
                    <ul>
                        {% for image in slider_images %}
                                <li>
                                    <button type="button" class="slider_images_button">
                                        <img src="{{ image }}" class="slider_images_image"
                                             id="{{ forloop.counter0 }}">
                                    </button>
                                </li>
                        {% endfor %}
                    </ul>
                </div>

                <button id="slider_arrowDown" class="slider_arrowButtons">
                    <img src="/static/icons/test/arrowDown.png">
                </button>

                <div id="slider_mainImage">

                    <div>
                        <img id="slider_mainImage_image">
                    </div>
                    <p class="slider_mainImage_topText"></p>
                    <p class="slider_mainImage_downText"></p>

                </div>

            </div>

        </div>

    {% endblock %}











</body>
</html>