{% extends 'base/base.html' %}
{% load static %}
{% load toPersian %}



<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% block load_files %}
        <link href="{% static 'styleSheets/sale_table.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block content %}

    <div id="saleTable" class="padding_right padding_top padding_left">
        <p id="mainTitle">
            جدول فروش
        </p>

        <div id="table">
            <div id="header">
                <div id="header_movieName">
                    <p>
                    نام فیلم
                    </p>
                </div>
                <div id="header_showTime">
                    <p>
                    مدت اکران
                    </p>
                </div>
                <div id="header_saleAmount">
                    <p>
                    فروش
                    </p>
                </div>
            </div>

            {% for movie in movies %}
                <div class="movie">
                    <img src="{{ movie.poster.url }}" class="movie_image">
                    <div class="movie_name">
                        <p>
                            <a href="{% url 'MovieManager_show_movie' movie.id %}">
                                {{ movie.name }}
                            </a>
                        </p>
                    </div>
                    <div class="movie_point">
                        <p>
                            {{ movie.rate|FloatToPersian }}
                        </p>
                    </div>

                    <div class="movie_showTime">
                        <p>
                        {{ movie.duration|IntegerToPersian }}
                        روز
                        </p>
                    </div>
                    <div class="movie_saleAmount">
                        <p>
                        {{ movie.sale|IntegerToPersian }}
                        تومان
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block sideBar_arbitrary %}
    <div class="sideBar_divContainer">
        <div class="sideBar_header back_gray_dark font_white">
            <p>
            دیگر جداول فروش
            </p>
        </div>
        <div class="sideBar_content back_gray_light">
            <p class="sideBar_contents">
                <a href="">
                جدول فروش کل تاریخ سینمای ایران >>
                </a>
            </p>
            <p class="sideBar_contents">
                <a href="">
                    جدول فروش کل تاریخ سینمای ایران (با احتساب تورم و رشد جمعیت) >>
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block sideBar_relatedNews %}
{% endblock %}

{% block sideBar_review %}
{% endblock %}

{% block sideBar_lastUserList %}
{% endblock %}

{% block sideBar_saleTable %}
{% endblock %}


</body>
</html>