{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        top100
    {% endblock %}


    <link href="{{ STATIC_URL|default:"/static/" }}/styleSheets/top100.css" rel="stylesheet" type="text/css">


</head>
<body>

{% block content %}
    <div id="top100_content">

        <div id="top100_title" class="n" >
            <p id="top100_title_1">
                ۱۰۰فیلم برتر
            </p>
            <p id="top100_title_2">
                به انتخاب کاربران مووی کا
            </p>
        </div>

        <div id="top100_header">
            <p id="top100_header_title">
                <dum id="top100_header_title_1" class="top100_header_titles">
                    رتبه و نام فیلم
                </dum>
                <dum id="top100_header_title_2" class="top100_header_titles">
                    تعداد رای
                </dum>
                <dum id="top100_header_title_3" class="top100_header_titles">
                    امتیاز مووی کا
                </dum>
            </p>
        </div>

        <div id="top100_movies">

            {% for item in movies %}
                <div class="top100_movies_items">
                    <img src="/media/images/top100/{{ item.url }}" class="top100_movies_image">
                    <p class="top100_movies_name">
                        {{ forloop.counter }}-
                        <a href="">
                            {{ item.name }}
                        </a>
                        ({{ item.year }})
                    </p>
                    <a href="">
                        <img src="/static/icons/100film/eye.png" class="top100_movies_eye">
                    </a>
                    <dum class="top100_movies_commentNumber">
                        {{ item.commentNumber }}
                    </dum>
                    <div class="top100_movies_point">
                        <p class="top100_movies_point_number">
                            {{ item.point }}
                        </p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>



{% endblock %}

{% block side_bar %}

{% endblock %}

</body>
</html>