
.polling_optionWrapper img{
    width: 3cm;
    height: 4cm;
    margin-right: 0.1cm;
    margin-left: 0.1cm;
}

.polling_optionWrapper p{
    /*height: 2cm;*/
    width: 90%;
    float: right;
    text-align: center;
}

.polling_optionWrapper{
    float: right;
    width: 2.9cm;
    margin-right: 0.1cm;
}

#polling_optionsWrapper{
    float: right;
    /*overflow: auto;*/
    margin-right: 0.2cm;
}


.polling_titleWrapper{
    /*background-color: #003366;*/
    float: right;
    width: 16cm;
}

.polling_vote{
    font-size: 0.5cm;
    margin-left: 0.1cm;
    margin-right: 0.1cm;
    padding-left: 1cm;
    margin-top: 0.1cm;
    padding-top: 0.1cm;
    height: 1cm;
    color: #ffffff;
    background-color: #cc1111;
}

#polling_pollQuestion{
    float: right;
    width: 16cm;
    overflow: auto;
    margin-bottom: 0.5cm;
    padding-right: 0.2cm;
}

#polling_result{
    float: right;
    font-size: 1cm;
    margin-right: 0.2cm;
}

.polling_titleWrapper{
    margin-top: 0.5cm;
}

#polling_titlePoll{
    font-size: 1cm;
    float: right;
}

#polling_numberVoteTitle{
    float: right;
    margin-top: 0.6cm;
    margin-right: 1cm;
    margin-left: 0.1cm;
}

#polling_numberVote{
    margin-top: 0.6cm;
    margin-right: 0.1cm;
}

.polling_optionImgPercent{
    width: 1.4cm;
    height: 1.9cm;
    float: right;
}

.polling_percentageBarWrapper{
    float: right;
    width: 14cm;
}

.polling_percentageBar{
    /*width: 13cm;*/
    height: 100%;
    background-color: #d43f3a;
    display: inline;
}

.polling_percentageBarWrapper>div{
    width: 10cm;
    height: 1.9cm;
    float: right;
    margin-right: 0.1cm;
}

.polling_percentageBarWrapper p{
    float: right;
    font-size: 0.8cm;
    padding-top: 0.4cm;
    margin-right: 0.2cm;
}

.polling_percentNumber{
    float: right;
    padding-top: 0.7cm;
    padding-right: 0.1cm;
}

.polling_percentageBarWrapper div{
    float: right;
}

.polling_wrapperEachOption{
    width: 16cm;
    clear: right;
    margin-top: 0.1cm;
    padding-top: 0.2cm;
}

#polling_titleWrapperPoll{
    margin-right: 0.2cm;
}

#polling_titleWrapperPoll a{
    float: right;
    padding-right: 0.5cm;
    padding-top: 0.5cm;
}

.polling_optionWrapper a:hover{
    text-decoration: none;
}

.polling_vote_voted{
    font-size: 0.5cm;
    margin-left: 0.15cm;
    margin-right: 0.1cm;
    padding-left: 1cm;
    margin-top: 0.1cm;
    padding-top: 0.1cm;
    height: 1cm;
    color: #ffffff;
    background-color: #5e5e5e;
    width: 100%;

}
