


#info{
    overflow: auto;
}

.info_mainImage{
    float:right;
    width: 7.2cm;
    height: 9.6cm;
    margin-top: 0.12cm;
}

.info_mainImage>img{
    width:100%;
    height:100%;
}

#info_top{
    overflow: hidden;
}

#info_top_name{
    position: relative;
    top: 0.2cm;
    width: 5cm;
    float: right;
}

#info_top_point{
    background-color: #d1282d;
    width: 1cm;
    height: 1cm;
    margin: 0.1cm 0 0 0.1cm;
    border-radius: 0.5cm;
}

#info_top_point>p{
    color: #ffffff;
    position: relative;
    left: -0.25cm;
    top: 0.25cm;
}

#info_top_name>p>span{
    font-size: 20px;
    font-weight: 600;
}

#info_top_name>p{
    font-size: 11px;
}

#info_biography{
    height: 4.95cm;
    width: 10cm;
    padding-right: 0.1cm;
    float: right;
    direction: rtl;
}

#info_biography>p{
    font-size: 12px;
}

#info_biography>p>span{
    display: inline-block;
    overflow: hidden;
    height: 3.48cm;
}

#info_biography_seeAll{
    position: relative;
    top: -0.1cm;
}

#info_arrowButton{
    width: 0.9cm;
    height: 0.9cm;
    position: relative;
    top: -0.2cm;
    left: 0.2cm;
}

#info_birthday{
    float: right;
    width: 10cm;
}

#info_images_div{
    position: relative;
    top: -0.1cm;
    float: right;
}

.info_images{
    float: right;
    width: 2.55cm;
    height: 2.55cm;
    margin: 0 0.05cm 0.1cm 0.05cm;
}

#info_images_seeAll{
    float: left;
    margin: 0 0 0 0.2cm;
    font-size: 12px;
    clear: both;
}

#prizes>div{
    border-radius: 0.25cm;
    border-width: 0.05cm;
    border-style: solid;
    height: 1cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    background-color: #eeeeee;
    border-color: #aaaaaa;
}

#prizes>div>p{
    font-size: 12px;
    margin: 0.05cm 0.1cm 0.05cm 0.1cm;
}

#prizes>div>p>span{
    font-size: 16px;
    font-weight: bold;
}

#prizes>div>p>a{
    margin: 0.2cm 0.1cm 0 0.1cm;
    float: left;
}


#proposedWorks{
    overflow: auto;
}

#proposedWorks>div>p{
    font-size: 20px;
    font-color: #aaaaaa;
}

.proposedWorks_images{
    float: right;
    margin: 0.1cm 0 0.1cm 0.1cm;
    width: 4.35cm;
    height: 5.5cm;
    position: relative;
    top: -0.1cm;
}

#filmography_title{
    font-size: 20px;
}

.filmography_headers{
    background-color: #424242;
    overflow: hidden;
    margin: 0.1cm 0 0.1cm 0;
    height: 0.8cm;
}

.filmography_headers>.filmography_headers_1>p{
    color: #ffffff;
}

.filmography_headers>.filmography_headers_1{
    width: 5cm;
    float: right;
    margin: 0.1cm 0.4cm 0cm 0.2cm;
}

.filmography_headers>.filmography_headers_2{
    margin: 0.15cm 0.2cm 0cm 0.2cm;
}

.filmography_headers>.filmography_headers_2>a>div{
    background-color: white;
    width: 0.5cm;
    height: 0.5cm;
    border-radius: 0.1cm;
}

.filmography_headers>.filmography_headers_2>a>div>img{
    width: 0.4cm;
    height: 0.4cm;
}

.dropDown_div{
    display: none;
}

.filmography_buttons{
    position: relative;
    left: 0.05cm;
    top: -0.05cm;
}

.filmography_bodies{
    background-color: #eeeeee;
    margin: 0.1cm 0cm 0.1cm 0cm;
    overflow: auto;
}

.filmography_bodies>p{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}


.filmography_bodies>p>span{
    float:left;
}


#userPost{
    overflow: auto;
}

.userPost_bodies{
    background-color: #eeeeee;
    overflow: auto;
    margin: 0.1cm 0 0 0 ;
}

.userPost_bodies>div{
    float: right;
    width: 12cm;
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.userPost_bodies>span>div{
    height: 1cm;
    overflow: auto;
}

.userPost_bodies>span>div>img{
    float: right;
    margin: 0.25cm 0 0 0;
}

.userPost_bodies>span>div>p{
    margin: 0.25cm 0 0 0;
}

#userPost_all{
    display: none;
}

#userPost_seeAll{
    float: left;
}

#userPost_hideAll{
    float:left;
    display: none;
}


#changeInfo{
    overflow: auto;
}

#changeInfo>p{
    float: right;
    width: 8cm;
    font-size: 10px;
}

#changeInfo>p>span{
    font-size: 20px;
}

#changeInfo_button{
    float: left;
    overflow: auto;
}

#changeInfo_button{
    background-color: #d1282d;
    width: 2.5cm;
    height: 0.9cm;
    overflow: auto;
    border-radius: 0.1cm;
    margin: 0.1cm 0 0.1cm 0;
}

#changeInfo_button>p{
    color: #ffffff;
    margin: 0cm 0cm 0 0;
}

#changeInfo_button:hover{
    background-color: #ac2925;
}


.sideBar_fastAccess_div{
    width: 3cm;
    float: right;
    margin: 0.1cm 0.2cm 0 0;
}

/*slider*********************/


#slider_background{
    left: 0cm;
    right: 0cm;
    height: 17cm;
    width: 23.65cm;
    background-color: #aaaaaa;
    z-index: 11;
    position: relative;
    display: none;
}


#slider_div{
    position: relative;
    top: -0.75cm;
}


.slider_close{
    position: relative;
    top: 1.4cm;
    left: -0.5cm;
    float: right;
    height: 1cm;
    width: 1cm;
}

#slider_images{
    width: 8cm;
    position: relative;
    left: -0.5cm;
    top: 1cm;
    overflow: hidden;
}

.slider_images_image{
    height: 3.5cm;
    width: 5cm;
    position: relative;
    margin: 0.05cm 0 0.05cm 0;
}

.slider_arrowButtons{
    background-color: inherit;
    border: none;
    position: relative;
    left: 2.5cm;
    top: 1cm;
    margin: 0.2cm 0 0.2cm 0;
}

.slider_arrowButtons>img{
    width: 1cm;
    height: 0.5cm;
}

#slider_mainImage{
    width: 12cm;
    position: relative;
    top: -12.5cm;
    left: 7cm;
}

#slider_mainImage_image{
    width: 15cm;
    height: 11cm;
}

.slider_mainImage_topText{
    color: #0066cc;
    font-size: 14px;
    position: relative;
    top: 0.3cm;
    left: 3cm;
}

.slider_mainImage_downText{
    font-size: 14px;
    position: relative;
    top: 0.5cm;
    left: 3cm;
}

#slider_images>ul{
    list-style: none;
    position: relative;
    overflow: hidden;
}


#slider_background_dark{
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}



#frame_movie_background_dark{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    display: none;
    z-index: 10;
}

.frame_movie_wrapper{
    position: fixed;
    left: 10cm;
    top: 2cm;
    width: 17cm;
    height: 10.5cm;
    background: #aaaaaa;
    display: none;
    z-index: 11;
}

.frame_movie_wrapper>button{
    float: right;
    margin: 0.2cm;
}






