

/*.clearfix:after {*/
     /*visibility: hidden;*/
     /*display: block;*/
     /*font-size: 0;*/
     /*content: " ";*/
     /*clear: both;*/
     /*height: 0;*/
     /*}*/
/*.clearfix {*/
    /*display: inline-block;*/
/*}*/
/* start commented backslash hack \*/
/** html .clearfix {*/
    /*height: 1%;*/
/*}*/
/*.clearfix {*/
    /*display: block;*/
/*}*/



button{
    background-color: inherit;
    border: 0px;
}

p{

    direction: rtl;
}

.padding_top{
    padding-top: 0.2cm;
}

.padding_right{
    padding-right: 0.2cm;
}

.padding_left{
    padding-left: 0.2cm;
}

.clear:after{
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
    line-height: 0;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.section_title{
    font-size: 25px;
    margin: 0 0.5cm 0 0;
}

#test_button{
    background-color: #d58512;
}


.container{
    width:75%;
}


#main-slider-buttons{
    position: absolute;
    top:250px;
}

#slider-next{
    position:relative;
}

#slider-prev{
    position: relative;
    left: 680px;
}


/*main ****************/
body {
    background-color: #424242;
}

#base_main{
    margin-left: 6cm;
    width: 23.65cm;
    /*height: 50cm;*/
    background-color: #eeeeee;
}

/*end main ************/


/*header ************/
#base_main_header{
    height: 4cm;
    background-color: #ebebeb;
}

#base_main_header_sign{
    position: absolute;
    left: 10.75cm;
    top: 1.1cm;
}

#base_main_search_box_div{
    position: absolute;
    left: 13.2cm;
    top: 0.50cm;
    /*background-color: blue;*/
}

#base_main_search_box{
    position: absolute;
    top: 1.05cm;
    left: 13.2cm;
    direction: rtl;
    width: 9.2cm;
    height: 1cm;
    border:solid;
    border-width: 0px;
}


#base_main_search_box_button{
    background-image: "/static/icons/header/search.png";
    position: absolute;
    left: 13.3cm;
    top: 1.1cm;
    width: 0.9cm;
    height: 0.9cm;
    background-size: 100%;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

#base_main_search_box_button:hover{
    background-color: #eeeeee;
}

#base_main_search_box_button:active{
    background-color: #cccccc;
}

#base_logo{
    position: absolute;
    left: 23cm;
    top: 1cm;
    width: 6.65cm;
    height: 1.6cm;
}


#base_main_header_link_0{
    position: absolute;
    top: 2.5cm;
    left: 6.1cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_1{
    position: absolute;
    top: 2.5cm;
    left: 7.2cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_2{
    position: absolute;
    top: 2.5cm;
    left: 8.3cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_3{
    position: absolute;
    top: 2.5cm;
    left: 9.4cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_4{
    position: absolute;
    top: 2.5cm;
    left: 10.5cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_5{
    position: absolute;
    top: 2.5cm;
    left: 11.6cm;
    width: 1cm;
    height: 1cm;
}



#base_main_header_buttons_line_0{
    position: absolute;
    left: 13.2cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_1{
    position: absolute;
    left: 16.4cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_2{
    position: absolute;
    left: 19.6cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_3{
    position: absolute;
    left: 22.4cm;
    top: 2.5cm;
    height: 1cm;
}

.base_main_header_buttons_fonts{
    color: #424242;
    font-size: 20px;
}

#base_main_header_buttons_button_0{
    position: absolute;
    left: 20.2cm;
    top: 2.5cm;
}

#base_main_header_buttons_button_1{
    position: absolute;
    left: 16.9cm;
    top: 2.5cm;
}

#base_main_header_buttons_button_2{
    position: absolute;
    left: 14.2cm;
    top: 2.5cm;
}

.dropdown_menu>span{
    /*display: block;*/
    display: none;
}

.dropdown_menu:hover>span{
    display: block;
}

.dropdown_menu>span>div{
    background-color: #eeeeee;
}

/*end buttons*/
/*end header ****************************/

/*side bar*******************************/
#base_side_bar{
    /*background-color: #eeeeee;*/
    width: 250px;
    margin:10px;
    float: left;
}

.back_gray{
    background-color: #eeeeee;
}

#base_side_sale_movie{
    margin: 0.1cm 0.1cm 0.2cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_sale_movie_title{
    background-color: #424242;
}

#base_side_sale_movie_title>p{
    color: #ffffff;
}

#base_side_coming_soon{
    margin: 0.5cm 0.1cm 0.2cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_coming_soon_title{
    background-color: #424242;
}

#base_side_coming_soon_title>p{
    color: white;
}

#base_side_criticism{
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_criticism_title{
    background-color: #424242;
}

#base_side_criticism_title>p{
    color: #ffffff;
}

#base_side_criticism_image{
    width: 100%;
    height: 3cm;
}

#base_side_most_viewed_title{
    background-color: #424242;
}

#base_side_most_viewed_title>p{
    color: #ffffff;
}


/*last_viewed**************************/

#base_main_last_viewed{

}

#base_main_last_viewed_1{
    margin: 0.1cm 0.2cm 0.2cm 0;
    clear: both;
    width: 2.5cm;
    height: 2.5cm;
    background-color: #eeeeee;
    float: right;
}

#base_main_last_viewed_title{
    font-size: 20px;
    margin: 0.3cm 0.4cm 0.2cm;
}

.base_main_last_viewed_images{
    margin: 0.1cm 0.1cm 0 0;
    float: right;
    width: 2cm;
    height: 2.5cm;
}

/*base_footer**************************/
#base_main_footer{
    clear: both;
    background-color: #323232;
}

#base_main_footer:after{
    clear:both;
    content: "";
}

#base_main_footer:before, #base_main_footer:after{
    content: "";
    clear: both;
}


#base_main_footer_right{
    float: right;
    /*background-color: tomato;*/
}

#base_main_footer_left{
    float: right;
    width: 11cm;
    /*background-color: #67b168;*/
}

.base_main_footer_links_single{
    width: 4cm;
    color: #ffffff;
    display: inline-block;
}

.base_main_footer_links_single>a:hover{
    color: #ffffff;
}

#base_main_footer_followus_title{
    float: right;
    color: #ffffff;
    margin: 0.2cm 0.2cm 0 0;
    font-size: 0.4cm;
    display: inline-block;
}

.base_main_footer_followus_icons{
    margin: 0.1cm 0.1cm 0.1cm 0;
    width: 1cm;
    height: 1cm;
}

.base_main_footer_followus_icons:hover{
    width: 0.9cm;
    height: 0.9cm;
}

#base_main_footer_long_line{
    width: 23.65cm;
}


/*content *******************************/

#base_main_content{
    background-color: #ffffff;
    padding: 0 0 0.1cm 0;
    border: solid;
    border-width: 0 0 0.05cm 0;
    border-color: #aaaaaa;
}



#base_content{
    /*background-color: #ffff00;*/
    /*height: 800px;*/
    width: 620px;
    float: right;
    border: solid;
    border-width: 0 0 0 0.05cm;
    border-left-color: #aaaaaa;
}




/*index.html*/

#index_3_first_films{
    margin: 10px 0px 10px 10px;
    width: 16cm;
    height: 7.5cm;
    overflow: hidden;
    background-color: #323232;
}

#index_movies_movie_0{
    position: relative;
    left: -15px;
    top: 10px;
    width: 375px;
    height: 120px;
    float: right;
}

#index_movies_movie_1{
    position: relative;
    left: -15px;
    top: 20px;
    width: 375px;
    height: 120px;
    float: right;
}

#index_movies_movie_2{
    position: relative;
    left: 30px;
    top: -110px;
    width: 175px;
    height: 250px;
    float: left;
    clear: left;

}


/*last news*/
#index_last_news{
    position: relative;
    margin: 10px 0px 0px 10px;
    width: 16cm;
    /*padding: 0 0 0.5cm 0;*/
    /*height: 7.1cm;*/
    /*background-color: red;*/
}


.index_long_line{
    position: relative;
    width: 16.4cm;
    float: right;
}

#index_long_line_0{
    /*top: -1.9cm;*/
}

#index_last_title{
    position: relative;
    left: -0.5cm;
    top: 0.2cm;
    font-size: 25px;
}

/*buttons*/

#index_last_buttons{
    position: relative;
    left: -7cm;
    top: -0.3cm;
    height: 1.5cm;
    /*height: 20px;*/
}

#index_last_buttons_0{
    position: relative;
    left: 550px;
    top: -0.8cm;
}

#index_last_buttons_1{
    position: relative;
    left: 350px;
    top: -0.8cm;
}

#index_last_buttons_2{
    position: relative;
    left: 175px;
    top: -0.8cm;
}

#index_last_buttons_3{
    position: relative;
    left: 25px;
    top: -0.8cm;
}

#index_last_buttons_line_1{
    position: relative;
    left: 0.5cm;
    top: -0.5cm;
}

#index_last_buttons_line_2{
    position: relative;
    left: 2.2cm;
    top: -0.5cm;
}

#index_last_buttons_line_3{
    position: relative;
    left: 4.55cm;
    top: -0.5cm;
}

.nav_button{
    color: gray;
    background-color: inherit;
}

.nav>li>a:hover{
    background-color:inherit;
}

.nav-pills>li.active>a:hover,
.nav-pills>li>a:focus:hover{
    background-color: inherit;
    color: blue;
}

.nav-pills>li.active>a:focus {
    background-color: inherit;
    border: 0px;
    color: #269abc;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus:hover{
    color: blue;
}

.nav-pills>li.active>a{
    background-color: inherit;
    color:#269abc;
}

.nav-pills > li + li{
    margin-left: -5px;
    margin-right: -5px;
}

.index-nav-main-news{
    width:500px;
}

.index-nav-images{
    float: right;
}

.index-nav-titles{
    clear: both;
}

/*nav content*/
#index_nav_content{
    position: relative;
    left: 0px;
    top: -1cm;
    width: 600px;
    /*background-color: #00ff00;*/
}

.index_nav_articles_main{
    width: 600px;
    height: 150px;
    /*background-color: #c1e2b3;*/
}

.index_nav_title_0{
    float: right;
    width: 300px;
    height: 20px;
    /*background-color: lightgreen;*/
    clear: both;
}

.index_nav_title_1{
    width: 300px;
    height: 20px;
    /*background-color: lightblue;*/
    clear: left;
}


/*last images******************************/
#index_long_line_1{
    position: relative;
    top: -0.3cm;
}


#index_last_images{
    margin: 0.2cm 0 0.1cm 0;
    align-content: center;
    width: 16cm;
    height: 7.2cm;
    overflow: hidden;
    /*background-color: #ac2925;*/
}

#index_last_images_0{
    position: relative;
    left: 11cm;
    top: 0.1cm;
    width: 5cm;
}

#index_last_images_1{
    height: 3.3cm;
    width: 5cm;
}

#index_last_images_2{
    position: relative;
    top: 0.5cm;
    height: 3.3cm;
    width: 5cm;
}

#index_last_images_3{
    position: relative;
    top: -13.6cm;
    left: 0.2cm;
    width: 5cm;
}

#index_last_images_1_2{
    position: relative;
    top: -7cm;
    left: 5.6cm;
    width: 5cm;
}



/*start birthday*/
#index_birthday{
    margin: 0.1cm 0cm 0.1cm 0cm;
    /*background-color: #00ff00;*/
}

#index_birthday_title{
    margin: 0.1cm 0.5cm 0.2cm 0;
    font-size: 25px;
}

.index_birthday_images{
    margin: 0 0 0 0.2cm;
    width: 5cm;
}


/*start poll*/
#index_poll{
    /*background-color: cyan;*/
}

.index_poll_images{
    width: 3cm;
    margin: 0 0 0 0.1cm;
}

#index_poll_description{
    margin: 0.5cm 0.5cm 0.5cm 0;
}

/*end content **************************/


/*****************************************************************************************************************/
/*top100*/
#top100_content{
    margin: 0.1cm 0.3cm 0 0.1cm;
}

#top100_title_1{
    font-size: 30px;
}

#top100_title_2{
    font-size: 15px;
    position: relative;
    top: -0.2cm;
}

#top100_header{
    background-color: #424242;
    height: 1cm;
}

#top100_header>p{
    color: #ffffff;
    font-size: 15px;
    margin: 0.2cm 0.2cm 0 0;
}

.top100_header_titles{
    position: relative;
    top: 0.2cm;
}

#top100_header_title_1{

}

#top100_header_title_2{
    left: -8cm;
}

#top100_header_title_3{
    left: -9cm;
}

.top100_movies_items{
    background-color: #eeeeee;
    margin: 0.1cm 0 0.1cm 0;
    height: 2.2cm;
}

.top100_movies_image{
    float:right;
    margin: 0.1cm 0.1cm 0 0;
    width: 1.5cm;
    height: 2cm;
}

.top100_movies_name{
    position: relative;
    left: -0.1cm;
    top: 0.9cm;
}

.top100_movies_eye{
    float:right;
    position: relative;
    left: -7cm;
}

.top100_movies_commentNumber{
    float: right;
    position: relative;
    left: -8.7cm;
}

.top100_movies_point{
    position: relative;
    left: 1cm;
    top: -0.4cm;
    background-color: #cd2a2f;
    width: 1cm;
    height: 1cm;
}


.top100_movies_point_number{
    direction: ltr;
    margin: 40% 40% 20% 40%;
    color: #ffffff;
}




/****************************************************************************************/
/*movie*/

.div_longLine{
    border-bottom: solid;
    border-bottom-width: 0.05cm;
    border-bottom-color: #aaaaaa;
}

#movie_info{
    height: 8.7cm;
}

#movie_info_mainPoster{
    float: right;
    width: 6cm;
    height: 8cm;
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;

}

#movie_info_name_1{
    font-size: 22px;

}

#movie_info_year{
    color: blue;
}

#movie_info_time{
    font-size: 8px;
}

#movie_info_point_number{
    float: right;
    position: relative;
    background-color: red;
    width: 1.7cm;
    height: 1.7cm;
}


#movie_info_point_number>p{
    color: #ffffff;
}

#movie_info_point_number_1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 0.1cm;
    font-size: 30px;
}

#movie_info_point_number_2{
    position:absolute;
    top: 1cm;
    left: 50%;
    transform: translate(-50%, 0);
}

.movie_info_circles{
    float: right;
    margin: 0 0.1cm 0 0;
    width: 0.25cm;
    height: 0.25cm;
}


#movie_info_info2{
    font-size: 12px;
    float: right;
    width: 7cm;
    margin: 0.1cm 0.1cm 0 0;
}

#movie_info_description{
    float: right;
    width: 9.5cm;
    height: 2cm;
    overflow: visible;
}


.movie_info_images_1{
    width: 2.25cm;
    height: 2.5cm;
    margin: 0.1cm 0.1cm 0 0;
    float: right;
}


#movie_info_seeAll{
    position: relative;
    left: -6cm;
    margin: 0.1cm 0 0 0;
    float: right;
    font-size: 11px;
}

#movie_prize_border{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
    border-color: #bbbbbb;
    border: solid;
    border-width: 0.05cm;
    background-color: #eeeeee;
    border-radius: 0.25cm;
    height: 1cm;

}

#movie_prize_border_seeAll{
    float: left;
    font-size: 12px;
    position: relative;
    top: 0.2cm;
}

#movie_mainActors{
    height: 6.8cm;
}

#movie_mainActors_title{
    font-size: 24px;
    margin: 0.1cm 0.15cm 0.1cm 0.1cm;
}

.movie_mainActors_images{
    position: relative;
    left: -0.1cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    float: right;
    width: 3.85cm;
    height: 5.25cm;
}


#movie_fActors{
    /*background-color: #5bc0de;*/
    padding-bottom: 0.5cm;
}


#movie_fActors_title{
    font-size: 24px;
    margin: 0.1cm 0.15cm 0.1cm 0.1cm;
}

#movie_fActors_fullList_title{
    background-color: #424242;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    height: 0.8cm;
}

#movie_fActors_fullList_title>p{
    position: relative;
    top: 0.1cm;
    left: -0.5cm;
    font-size: 15px;
    color: #ffffff;
}

.movie_fActors_fullList{
    margin: 0.1cm 0.1cm 0 0.1cm;
    height: 1cm;
    background-color: #eeeeee;
}

.movie_fActors_fullList_image{
    float: right;
    width: 1cm;
    height: 1cm;
}

.movie_fActors_fullList_name{
    float: right;
    font-size: 18px;
    position: relative;
    top: 0.1cm;
    left: -0.2cm;
    width: 50%;
    block: inline;
}

.movie_fActors_fullList_movieName{
    position:relative;
    top: 0.1cm;
    left: -2cm;
    font-size: 18px;
    width: 50%;
    block: inline;
}


#movie_fActors_fullList_seeAll{
    font-size: 12px;
    float:left;
}

#movie_keywords_1{
    font-size: 15px;
    margin: 0.1cm 0.4cm 0.1cm 0.1cm;
}


#movie_sale{
    font-size: 15px;
    /*height: 1cm;*/
}

#movie_sale>p{
    margin: 0.1cm 0.4cm 0.1cm 0.1cm;
}

#movie_bestDialogue{
    overflow: auto;
}

#movie_bestDialogue_1{
    margin: 0.2cm 0.4cm 0 0;
    float: right;
    width: 14cm;
}

#movie_bestDialogue_2{
    float: right;
    width: 16cm;
    display: none;
}

#movie_bestDialogue_seeAll{
    margin: 0.2cm 0 0 0.2cm;
    float: left;
}

#movie_bestDialogue_2_less{
    float:left;
}

#movie_userReview{
    overflow: auto;
}

#movie_userReview_1{
    width: 10cm;
    float: right;
}

#movie_userReview_1>p{
    margin: 0.1cm 0.2cm 0.1cm 0.2cm;
}

#movie_userReview_title{
    font-size: 22px;
}

#movie_userReview_seeAll{
    font-size: 12px;
    position: relative;
    top: -0.05cm;
}

#movie_userReview_write{
    margin: 0.12cm 0.1cm 0.1cm 0.1cm;
    float: left;
    width: 3cm;
    height: 0.8cm;
    border-radius: 0.1cm;
    background-color: #d1282d;
}

#movie_userReview_write:hover{
    background-color: darkred;
}

#movie_userPost{
    overflow:auto;
}

#movie_userPost_title{
    font-size: 22px;
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
}


#movie_userPost_lastPost_title{
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
    font-size: 15px;
}

.movie_userPost_lastPost{
    background-color: #eeeeee;
    margin: 0.1cm 0.2cm 0.1cm 0.2cm;
    overflow: auto;
}

.movie_userPost_lastPost>div{
    float: right;
    width: 12cm;
    margin: 0.1cm 0.1cm 0cm 0cm;
}

.movie_userPost_lastPost>div>p{
    color: #0066cc;
}

.movie_userPost_lastPost>img{
    float: right;
    width: 1cm;
    height: 1cm;
}

.movie_userPost_lastPost>a{
    float: right;
    position: relative;
    top: 0.2cm;
}

#movie_userPost_seeAll{
    float:left;
}


#movie_changeInfo{
    overflow: auto;
}

#movie_changeInfo>div{
    width: 12cm;
    float: right;
}

#movie_changeInfo_title{
    font-size: 22px;
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
}

#movie_changeInfo_title>dum{
    font-size: 12px;
}

#movie_changeInfo_button{
    background-color: #d1282d;
    border-radius: 0.1cm;
    width: 3cm;
    margin: 0.1cm 0.1cm 0 0.1cm;
}

#movie_changeInfo_button>p{
    color: #ffffff;
    position: relative;
    top: 0.1cm;
}

#movie_changeInfo_button:hover{
    background-color: darkred;
}


/***************************/
/*movie- sideBar*/

#movAct_sideBar_fastAccess{
    background-color: #eeeeee;
    overflow: auto;
}

#movAct_sideBar_fastAccess_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_fastAccess_title>p{
    color: #ffffff;
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.movAct_sideBar_fastAccess_1{
    width: 3cm;
    float: right;
    margin: 0.1cm 0.2cm 0 0;
    /*background-color: #0066cc;*/
}

.movAct_sideBar_fastAccess_1>p{
    font-size: 12px;
}


#movAct_sideBar_bestArticle{
    background-color: #eeeeee;
    margin: 0.5cm 0 0 0;
    overflow: auto;
}

#movAct_sideBar_bestArticle_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_bestArticle_title>p{
    color: #ffffff;
    margin: 0.1cm 0.2cm 0.1cm 0;
}

#movAct_sideBar_bestArticle>img{
    width: 100%;
}

#movAct_sideBar_bestArticle_content{
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    font-size: 12px;
}

#movAct_sideBar_bestArticle_content_continue{
    float:left;
    font-size: 10px;
}


#movAct_sideBar_news{
    overflow:auto;
    margin: 0.5cm 0 0 0;
    background-color: #eeeeee;
}

#movAct_sideBar_news_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_news_title>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
    color: #ffffff;
}

#movAct_sideBar_news_seeAll{
    float: left;
    font-size: 12px;
}

#movAct_sideBar_userList{
    background-color: #eeeeee;
    overflow: auto;
    margin: 0.5cm 0 0 0;
}

#movAct_sideBar_userList_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_userList_title>p{
    color: #ffffff;
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.movAct_sideBar_userList_item{
    overflow: auto;
}

.movAct_sideBar_userList_image{
    float: right;
    width: 1.5cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
}

.movAct_sideBar_userList_content{
    color: #0066cc;
    font-size: 13px;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
}

.movAct_sideBar_userList_content_writer{
    font-size: 8px;
}

#movAct_sideBar_userList_seeAll{
    float: left;
    font-size: 12px;
}

/*actor *************************************************************************/

#actor_info{
    overflow: auto;
}

#actor_info_mainImage{
    float:right;
    width: 6cm;
    height: 8cm;
    margin-top: 0.15cm;
}

#actor_info_top{
    overflow: auto;
}

#actor_info_top_name{
    width: 5cm;
    float: right;
}

#actor_info_top_point{
    background-color: #d1282d;
    width: 1cm;
    height: 1cm;
    margin: 0.2cm 0 0 0.2cm;
    border-radius: 0.5cm;

}

#actor_info_top_point>p{
    color: #ffffff;
    position: relative;
    left: -0.25cm;
    top: 0.25cm;
}

#actor_info_top_name>p>dum{
    font-size: 20px;
    font-weight: 600;
}

#actor_info_top_name>p{
    font-size: 11px;
}

#actor_info_biography{
    height: 3.3cm;
}

#actor_info_biography>p{
    font-size: 12px;
}

#actor_info_biography_seeAll{
    position: relative;
    top: -0.1cm;
}

#actor_info_arrowButton{
    width: 0.9cm;
    height: 0.9cm;
    position: relative;
    top: -0.2cm;
    left: 0.2cm;


}

#actor_info_birthday{
    float: right;
    width: 5cm;
}


.actor_info_images{
    float: right;
    width: 2.4cm;
    height: 2.4cm;
    margin: 0.1cm 0.05cm 0.1cm 0.05cm;
}

#actor_info_images_seeAll{
    float: left;
    margin: 0 0 0 0.2cm;
    font-size: 12px;
}

#actor_prizes>div{
    border-radius: 0.25cm;
    border-width: 0.05cm;
    border-style: solid;
    height: 1cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    background-color: #eeeeee;
    border-color: #aaaaaa;
}

#actor_prizes>div>p{
    font-size: 12px;
    margin: 0.05cm 0.1cm 0.05cm 0.1cm;
}

#actor_prizes>div>p>dum{
    font-size: 16px;
    font-weight: bold;
}

#actor_prizes>div>p>a{
    margin: 0.2cm 0.1cm 0 0.1cm;
    float: left;
}


#actor_proposedWorks{
    overflow: auto;
}

#actor_proposedWorks>div>p{
    font-size: 20px;
    font-color: #aaaaaa;
}

.actor_proposedWorks_images{
    float: right;
    margin: 0.1cm 0 0.1cm 0.1cm;
    width: 3.9cm;
    height: 5cm;
    position: relative;
    top: -0.1cm;
}

#actor_filmography_title{
    font-size: 20px;
}

.actor_filmography_headers{
    background-color: #424242;
    overflow: hidden;
    margin: 0.1cm 0 0.1cm 0;
    height: 0.8cm;
}

.actor_filmography_headers>.actor_filmography_headers_1>p{
    color: #ffffff;
}

.actor_filmography_headers>.actor_filmography_headers_1{
    width: 5cm;
    float: right;
    margin: 0.1cm 0.4cm 0cm 0.2cm;

}

.actor_filmography_headers>.actor_filmography_headers_2{
    margin: 0.15cm 0.2cm 0cm 0.2cm;
}

.actor_filmography_headers>.actor_filmography_headers_2>a>div{
    background-color: white;
    width: 0.5cm;
    height: 0.5cm;
    border-radius: 0.1cm;
}

.actor_filmography_headers>.actor_filmography_headers_2>a>div>img{
    width: 0.4cm;
    height: 0.4cm;
}

#actor_filmography_actor_div{
    display: none;
}

#actor_filmography_directories_div{
    display: none;
}

#actor_filmography_editor_div{
    display: none;
}

.actor_filmography_bodies{
    background-color: #eeeeee;
    margin: 0.1cm 0cm 0.1cm 0cm;
    overflow: auto;
}


.actor_filmography_bodies>p{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}


.actor_filmography_bodies>p>dum1{
    float:left;
}


#actor_userPost{
    overflow: auto;
}

.actor_userPost_bodies{
    background-color: #eeeeee;
    overflow: auto;
    margin: 0.1cm 0 0 0 ;
}

.actor_userPost_bodies>div{
    float: right;
    width: 12cm;
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.actor_userPost_bodies>dum>div{
    overflow: auto;
}

.actor_userPost_bodies>dum>div>img{
    float: right;
    margin: 0.25cm 0 0 0;
}

.actor_userPost_bodies>dum>div>p{
    margin: 0.25cm 0 0 0;
}

#actor_userPost_all{
    display: none;
}

#actor_userPost_seeAll{
    float: left;
}

#actor_userPost_hideAll{
    float:left;
    display: none;
}


#actor_changeInfo{
    overflow: auto;
}

#actor_changeInfo>p{
    float: right;
    width: 8cm;
    font-size: 10px;
}

#actor_changeInfo>p>dum{
    font-size: 20px;
}

#actor_changeInfo_button{
    float: left;
    overflow: auto;
}

#actor_changeInfo_button{
    background-color: #d1282d;
    width: 3cm;
    height: 0.9cm;
    overflow: auto;
    border-radius: 0.1cm;
    margin: 0.1cm 0 0.1cm 0;
}

#actor_changeInfo_button>p{
    color: #ffffff;
    margin: 0cm 0cm 0 0;
}

#actor_changeInfo_button:hover{
    background-color: #ac2925;
}









































