{% extends 'base/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block load_files %}
        <link href="{% static 'styleSheets/login.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block content %}

    <form method="post" action="{% url 'UserManager_login' %}">
        {% csrf_token %}
        <div id="username_label">
            <p>
                نام کاربری
            </p>
        </div>
        <input type="text" name="username" id="username_input">
        <div id="password_label">
            <p>
                رمز عبور
            </p>
        </div>
        <input type="password" name="password" id="password_input">
        <div id="buttons">
            <button type="submit" id="submit">
                <p>
                    ورود
                </p>
            </button>
            <button type="reset" id="reset">
                <p>
                    انصراف
                </p>
            </button>
        </div>
    </form>
    <div id="errors">
        <p>
            {{ errors }}
        </p>
    </div>

{% endblock %}

</body>
</html>