{% extends 'base/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        festivals
    {% endblock %}
    {% block load_files %}
        <link href="{% static 'styleSheets/festivals.css' %}" rel="stylesheet">
        <script src="{% static 'scripts/festivals.js' %}" language="JavaScript"></script>
    {% endblock %}

</head>
<body>

{% block content %}
<div class="padding_right_large padding_top_large padding_left_large">
    <p id="pageTitle">
        جشنواره ها
    </p>

    <div id="table">
        {% for item in list %}
            <div>
                <div class="table_redBox">
                    <div class="table_redBox_name">
                        <p>
                            {{ item.0 }}
                        </p>
                    </div>
                    <div class="table_redBox_selectTitle">
                        <p>
                            انتخاب دوره
                        </p>
                    </div>
                    <div class="table_redBox_selectYear">
                        <button type="button">
                            <img src="{% static 'icons/festivals/button.png' %}">
                        </button>
                        <div class="year">
                            <p>
                                {{ item.1.0 }}
                            </p>
                        </div>
                        <div class="selectYear_all">
                            {% for year in item.1 %}
                                <div class="year">
                                    <a class="year year_item">
                                        <p>
                                            {{ year }}
                                        </p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="table_whiteBox">
                    <p>
                        <a href="">
                        مشاهده »
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

</body>
</html>