
/* this just is for test and shouldn't be used in the main output */
.test{
    border-width: 10px;
    border-color: #255625;
    background-color: #c1e2b3;
}

#user_information div{
    float: right;
    height: 3cm;
    margin-left: 5px;
}

#user_information{
    overflow: auto;
    width: 16cm;
}

#user_information_username{
    text-align: center;
    position: relative;
    font-size: 25px;
    margin: 0;
    top: 0.8cm;
}

#user_information_details{
    text-align: center;
    position: relative;
    font-size: 10px;
    margin-top: 0.5cm;
}

#user_information_fillInformation{
    float: right;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 1cm;
}

#user_information_accountPro{
    float: right;
    padding-right: 0.2cm;
    padding-left: 0.2cm;
    margin-top: 1cm;
    border-right: 2px solid #aaaaaa;
}

.black_line_underline{
    border-bottom: 2px solid #aaaaaa;
}

.title{
    padding-bottom: 0.2cm;
    padding-top: 0.6cm;
    font-size: 0.5cm;
    color: red;
}

.slideBar_wrapper{
    overflow: auto;
    background-color: #d9534f;
}

.right_arrow{
    height: 5cm;
    float: right;
    width: 1cm;
    background-color: #0066cc;
}

.right_arrow img{
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.left_arrow{
    height: 5cm;
    float: right;
    background-color: #003366;
}

.left_arrow img{
    margin-top: 2cm;
    margin-bottom: 2cm;
}

#rated{
    overflow: hidden;
    position: relative;
}

#slideBar_rated_content_wrapper{
    position: relative;
    float: right;
    width: 8cm;
    background-color: #0066cc;
}

#slideBar_rated_content_wrapper div img{
    height: 4.5cm;
    width: 3cm;
}


.testClass{
    position: relative;
    float: right;
    padding-right: 1px;
    padding-left: 1px;
    width: 3cm;
    background-color: #0066cc;
}


