{% extends 'base/base.html' %}
{% load static %}
{% load toPersian %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        polling
    {% endblock %}
    {% block load_files %}

        <link href="{% static 'AdminManager/css/polling_styleSheet.css' %}" type="text/css" rel="stylesheet" >
        <script src="{% static 'AdminManager/js/polling_js.js' %}" language="JavaScript"></script>

    {% endblock %}

</head>
<body>

    {% block content %}

        <div id="polling_titleWrapperPoll" class="polling_titleWrapper">
            <p id="polling_titlePoll">
                نظر سنجی
            </p>
            <a href="{% url 'pollArchive' %}">&lt&ltآرشیو نظر سنجی ها</a>
        </div>
        <div id="polling_pollQuestion">
            <p>
                {{ poll.text }}
            </p>
            <a href="#">

            </a>
        </div>
        <div id="polling_optionsWrapper">
            {% for option in pollOptions %}
                <div class="polling_optionWrapper">
                    <p>
                        {{ option.text }}
                    </p>
                    <img src="{{ option.image.url }}">
                    {% if is_voted == False %}
                        <a href="{% url 'polling_result' forloop.counter poll.id %}">
                            <div class="polling_vote">
                                رای
                            </div>
                        </a>
                    {% else %}
                        <div class="polling_vote_voted">
                                رای
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="polling_titleWrapper">
            <p id="polling_result">
نتایج
            </p>
            <p id="polling_numberVoteTitle">
تعداد رای:
            </p>
            <p id="polling_numberVote">
                {{ total_vote|IntegerToPersian }}
            </p>
        </div>
        <div id="polling_percentagesWrapper">
            {% for option, percent in result_polling.items %}
                <div class="polling_wrapperEachOption">
                    <img class="polling_optionImgPercent" src="{{ option.image.url }}">
                    <div class="polling_percentageBarWrapper">
                            <div class="polling_percentageBar" style="width: {{ percent }}%;"></div>
                            <p> {{ percent|IntegerToPersian }} %</p>
                    </div>
{#                    <div class="polling_percentNumber">#}
{#                        #}
{#                    </div>#}
                </div>
            {% endfor %}
        </div>
    {% endblock %}


</body>
</html>