{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">

    <title>
        {% block title %}
            base
        {% endblock %}
    </title>



    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />


{#    this css and js files must be load at the end.#}

{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
{#    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
{#    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}


    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript" language="JavaScript"></script>
    <style type="text/css">

      {% block css %}{% endblock %}
    </style>
    <link href="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" rel="script">


    <script src="{% static 'jquery/jquery.js' %}" type="text/javascript" language="javascript"></script>
    <link href="{% static 'styleSheets/base.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'scripts/base.js' %}" type="text/javascript" language="JavaScript"></script>
    <script src="{% static 'scripts/base2.js' %}" type="text/javascript" language="JavaScript"></script>

    {% block load_files %}

    {% endblock %}


</head>

<body>

<div id="base_main">

   {# header #}
    <div id="base_main_header">
        <div id="base_main_header_header">
            <div id="base_main_header_sign">
                <a href="search_??????????" style="color: #424242">
                    ورود
                </a>
                /
                <a href="search_(((((((" style="color: #424242;">
                    ثبت نام
                </a>
            </div>
            <form method="get" action="search_??????????????????????????">
                <input type="text" name="query" id="base_main_search_box">
                <input type="submit" value="" id="base_main_search_box_button">
            </form>
            <img src="{{ BASE_URL }}/static/icons/base/LOGO.jpg" id="base_logo">
        </div>

        <a href="search_1234??">
            <img src="{{ BASE_URL }}/static/icons/base/0.png" id="base_main_header_link_0">
        </a>
        <a href="search_139???">
            <img src="{{ BASE_URL }}/static/icons/base/1.png" id="base_main_header_link_1">
        </a>
        <a href="search_139???">
            <img src="{{ BASE_URL }}/static/icons/base/2.png" id="base_main_header_link_2">
        </a>
        <a href="search_139???">
            <img src="{{ BASE_URL }}/static/icons/base/3.png" id="base_main_header_link_3">
        </a>
        <a href="search_139???">
            <img src="{{ BASE_URL }}/static/icons/base/4.png" id="base_main_header_link_4">
        </a>
        <a href="search_139???">
            <img src="{{ BASE_URL }}/static/icons/base/5.png" id="base_main_header_link_5">
        </a>

        <div id="base_main_header_buttons_div">
            <img src="/static/icons/base/line.png" id="base_main_header_buttons_line_0">
            <button id="base_main_header_buttons_button_0" class="base_main_header_buttons_buttons dropdown_menu">
                <p class="base_main_header_buttons_fonts">
                فیلم ها
                </p>
                <span>
                    <div><a href="">
                        ایرانی
                    </a></div>
                    <div><a href="">
                        خارجی
                    </a> </div>
                    <div><a href="">
                        همینجوری
                    </a> </div>
                </span>
            </button>
            <img src="/static/icons/base/line.png" id="base_main_header_buttons_line_1">
            <button id="base_main_header_buttons_button_1" class="base_main_header_buttons_buttons">
                <p class="base_main_header_buttons_fonts dropdown_menu">
                هنرمندان
                </p>
            </button>
            <img src="/static/icons/base/line.png" id="base_main_header_buttons_line_2">
            <button id="base_main_header_buttons_button_2" class="base_main_header_buttons_buttons">
                <p class="base_main_header_buttons_fonts dropdown_menu">
                اخبار
                </p>
            </button>
            <img src="/static/icons/base/line.png" id="base_main_header_buttons_line_3">
        </div>
    </div>
{# end header #}

{# should be test #}
    <div id="base_background_content">
        {% block background_content %}

        {% endblock %}
    </div>
{# end #}

{# container of all elements existing between header and footer #}
    <div id="base_main_content" class="clearfix">

        {# container of main content #}
        <div id="base_content">
            {% block content %}

            {% endblock %}
        </div>

        {# container of all elements should be over of the main content (e.g. sliders in movie page) #}
        <div id="base_over_content">
            {% block over_content %}

            {% endblock %}
        </div>

        {# container of all elements existing in sidebar of some page #}
        <div id="base_side_bar" class="clearfix">

            {# the element of sidebar should be override in body of child #}
            {% block sideBar_arbitrary %}

            {% endblock %}


            {# sale table #}
            {% block sideBar_saleTable %}
                <div id="base_side_sale_movie"  class="back_gray">
                    <div id="base_side_sale_movie_title" class="back_gray_dark font_white sideBar_header">
                        <p>
                            فروش فیلم
                        </p>
                    </div>
                    <div id="base_side_sale_movie1">
                        {% for item in sale_movie %}
                            <p id="base_side_sale_movie_movies_{{ forloop.counter0 }}">
                                <div class="base_side_sale_movie_number">
                                    {{ item.rate }}
                                </div>
                                {{ item.name }}
                                <hay class="float_left">
                                    {{ item.sale_amount }}
                                    تومان
                                </hay>
                            </p>
                        {% endfor %}
                        <a href="">
                            <p class="base_side_sale_movie_seeall float_left">
                                مشاهده جدول کامل >>
                            </p>
                        </a>
                    </div>
                </div>
            {% endblock %}
            {# end sale table #}

            {# commingSoon #}
            {% block sideBar_commingSoon %}
                <div id="base_side_coming_soon" class="back_gray">
                    <div id="base_side_coming_soon_title" class="back_gray_dark font_white sideBar_header">
                        <p>
                        به زودی
                        </p>
                    </div>
                    <div id="base_side_coming_soon_movies">
                        {% for item in coming_soon %}
                            <p>
                                <img src="{{ BASE_URL }}/static/icons/base/Play.png" class="base_side_coming_soon_movies_play">
                                {{ item.name }}
                                <hay class="float_left">
                                    {{ item.date }}
                                </hay>
                            </p>
                        {% endfor %}
                        <a href="">
                            <p id="base_side_coming_soon_side_seeall" class="float_left">
                                مشاهده فیلم های آینده >>
                            </p>
                        </a>
                    </div>
                </div>
            {% endblock %}

            {# review #}
            {% block sideBar_review %}
                <div id="base_side_criticism" class="back_gray">
                    <div id="base_side_criticism_title" class="back_gray_dark font_white sideBar_header">
                        <p>
                            نقد برگزیده
                        </p>
                    </div>

                    <img src="{{best_criticism}}" id="base_side_criticism_image">

                    <p id="base_side_criticism_description">
                        {{ best_criticism_description }}
                        <a href="" class="float_left">
                            ادامه مطلب
                        </a>
                    </p>
                </div>
            {% endblock %}

            {# mostVisited #}
            {% block sideBar_mostVisited %}
                <div id="base_side_most_movie" class="back_gray">
                    <div id="base_side_most_viewed_title" class="back_gray_dark font_white sideBar_header">
                        <p>
                            پربازدیدترین ها
                        </p>
                    </div>
                </div>
            {% endblock %}

            {# relatedNews #}
            {% block sideBar_relatedNews %}
                <div class="sideBar_divContainer">
                    <div class="back_gray_dark font_white sideBar_header">
                        <p>
                            اخبار مربوط
                        </p>
                    </div>
                    <div class="back_gray_light sideBar_content">
                        {% for item in movieNews %}
                            <div class="movieNews_div border_bottom_div">
                                <p>
                                    <a href="">
                                        {{ item.header }}
                                    </a>
                                    {{ item.time }}
                                    قبل
                                    /
                                    {{ item.source }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}

            {# last list created by Users #}
            {% block sideBar_lastUserList %}
                <div class="sideBar_divContainer">
                    <div class="back_gray_dark font_white sideBar_header">
                        <p>
                            آخرین لیست های کاربران
                        </p>
                    </div>
                    <div class="back_gray_light sideBar_content">
                        {% for item in userList %}
                            <div class="border_bottom_div overflow_auto sideBar_userList_div">
                                <img src="{{ item.image }}">
                                <div>
                                    <p class="sideBar_userList_header">
                                        <a href="">
                                            {{ item.header }}
                                        </a>
                                    </p>
                                    <p class="sideBar_userList_topicNumber">
                                        {{ item.topicNumber }}
                                        عنوان
                                    </p>
                                    <p class="sideBar_userList_writer">
                                        ایجاد شده توسط
                                        <a>
                                            {{ item.writer }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}

        </div>

    </div>



    {# last list of visited page by users #}
    <div id="base_main_last_viewed" class="clear">

        <div id="base_main_last_viewed_1">
            <p id="base_main_last_viewed_title">
                آخرین بازدیدها
            </p>
        </div>

        <a href="">
            <img src="{{ BASE_URL }}/media/users/LastViewed/1.jpg" class="base_main_last_viewed_images">
        </a>

        <a href="">
            <img src="{{ BASE_URL }}/media/users/LastViewed/0.jpg" class="base_main_last_viewed_images">
        </a>

    </div>

    {# footer #}
    <div id="base_main_footer">
        <div id="base_main_footer_right">
            <p class="base_main_footer_links">
                <a href="" class="base_main_footer_links_single">
                صفحه اصلی
                </a>
                <a href="" class="base_main_footer_links_single">
                پروفایل کاربری
                </a>
                <a href="" class="base_main_footer_links_single">
                    راهنمای سایت
                </a>
            </p>
            <p class="base_main_footer_links">
                <a href="" class="base_main_footer_links_single">
                    ۱۰۰فیلم برتر
                </a>
                <a href="" class="base_main_footer_links_single">
                    فروم
                </a>
                <a href="" class="base_main_footer_links_single">
                    قوانین سایت
                </a>
            </p>
            <p class="base_main_footer_links">
                <a href="" class="base_main_footer_links_single">
                    جدول فروش
                </a>
                <a href="" class="base_main_footer_links_single">
                    اخبار
                </a>
                <a href="" class="base_main_footer_links_single">
                    تبلیغات
                </a>
            </p>
            <p class="base_main_footer_links">
                <a href="" class="base_main_footer_links_single">
                    به زودی
                </a>
                <a href="" class="base_main_footer_links_single">
                    آخرین نقدها
                </a>
                <a href="" class="base_main_footer_links_single">
                    تماس با ما
                </a>
            </p>
        </div>

        <div id="base_main_footer_left">
            <div id="base_main_footer_followus_title">
                <p>
                    ما را دنبال کنید در:
                </p>
            </div>
            <a href="">
                <img src="/static/icons/base/0.png" class="base_main_footer_followus_icons">
            </a>
            <a href="">
                <img src="/static/icons/base/1.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/2.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/3.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/4.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/5.png" class="base_main_footer_followus_icons">
            </a>
        </div>
        <img src="{{ BASE_URL }}/static/icons/base/FooterLongLine.png" id="base_main_footer_long_line">
        <p>
            کلیه حقوق این سایت متعلق به موویکا می باشد.
        </p>
    </div>

</div>

</body>

</html>
