{#{% load index %}#}
{% load static %}
{% load toPersian %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">

    <title>
        {% block title %}
            base
        {% endblock %}
    </title>




{#    these css and js files must be loaded at the end.#}

{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
{#    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
{#    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}


    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}" type="text/javascript" language="JavaScript"></script>



    <link href="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" rel="script">


    <script src="{% static "jquery/jquery.js" %}" type="text/javascript" language="javascript"></script>
    <link href="{% static "styleSheets/base.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "scripts/base.js" %}" type="text/javascript" language="JavaScript"></script>

    {% block css_js %}

    {% endblock %}


    {% block load_files %}

    {% endblock %}


</head>

<body>

<div id="base_main">

    <div id="base_main_header">

        <div id="base_main_header_header">
            <div id="base_main_header_sign">
                <a href="{% url 'UserManager_login' %}">
                    ورود
                </a>
                /
                <a href="{% url 'UserManager_signup' %}">
                    ثبت نام
                </a>
            </div>
            <form>
                <input type="text" name="query" autocomplete="off" id="base_main_search_box">
                <button type="button" value="" id="base_main_search_box_button"></button>
                <div id="main_searchSuggestion">

                </div>
            </form>
            <a href="{% url 'AdminManager_homepage' %}">
                <img src="{% static "icons/base/LOGO.jpg" %}" id="base_logo">
            </a>
        </div>

        <a href="search_1234??">
            <img src="{% static 'icons/base/0.png' %}" id="base_main_header_link_0">
        </a>
        <a href="search_139???">
            <img src="{% static 'icons/base/1.png' %}" id="base_main_header_link_1">
        </a>
        <a href="search_139???">
            <img src="{% static 'icons/base/2.png' %}" id="base_main_header_link_2">
        </a>
        <a href="search_139???">
            <img src="{% static 'icons/base/3.png' %}" id="base_main_header_link_3">
        </a>
        <a href="search_139???">
            <img src="{% static 'icons/base/4.png' %}" id="base_main_header_link_4">
        </a>
        <a href="search_139???">
            <img src="{% static 'icons/base/5.png' %}" id="base_main_header_link_5">
        </a>


        <div id="base_main_header_buttons_div">
            <img src="{% static 'icons/base/line.png' %}" id="base_main_header_buttons_line_0">
            <div id="base_main_header_buttons_button_0" class="base_main_header_buttons_buttons dropdown_menu">
                <p class="base_main_header_buttons_fonts">
                فیلم ها
                </p>
                <div>
                    <div>
                        <a href="{% url 'MovieManager_sale_table' %}">
                            <p>
                                جدول فروش
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                به زودی
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                آخرین تیزرها
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                آخرین عکس ها
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                فیلم های محبوب
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'MovieManager_top_100' %}">
                            <p>
                                صد فیلم برتر
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                مقالات
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <img src="{% static 'icons/base/line.png' %}" id="base_main_header_buttons_line_1">
            <div id="base_main_header_buttons_button_1" class="base_main_header_buttons_buttons dropdown_menu">
                <p class="base_main_header_buttons_fonts">
                هنرمندان
                </p>
                <div>
                    <div>
                        <a href="">
                            <p>
                                متولدین امروز
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                هنرمندان محبوب
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                مصاحبه ها
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                آخرین عکس ها
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <img src="{% static 'icons/base/line.png' %}" id="base_main_header_buttons_line_2">
            <div id="base_main_header_buttons_button_2" class="base_main_header_buttons_buttons dropdown_menu">
                <p class="base_main_header_buttons_fonts dropdown_menu">
                اخبار
                </p>
                <div>
                    <div>
                        <a href="">
                            <p>
                                سینمای ایران
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                سینمای جهان
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                هنرمندان
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                تلویزیون
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                رویدادها
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                جشنواره ها
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                نظرسنجی ها
                            </p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <p>
                                ویدیوها
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <img src="{% static 'icons/base/line.png' %}" id="base_main_header_buttons_line_3">
        </div>
    </div>


    <div id="base_background_content">
        {% block background_content %}

        {% endblock %}
    </div>


    <div id="base_main_content">

        <div id="base_content">
            {% block content %}

            {% endblock %}
        </div>

        <div id="base_over_content">
            {% block over_content %}

            {% endblock %}
        </div>

        <div id="base_side_bar" class="clearfix">

            {% block sideBar_arbitrary %}

            {% endblock %}


            {% block sideBar_saleTable %}
                {% if top_sale_movies %}
                    <div class="sideBar_divContainer">
                        <div class="back_gray_dark font_white sideBar_header">
                            <p>
                                فروش فیلم
                            </p>
                        </div>
                        <div class="sideBar_content back_gray_light">
                            {% for movie in top_sale_movies %}
                                <div class="base_side_sale_movie_wrapper">
                                    <div class="base_side_sale_movie_number">
                                        <p>
                                            {{ movie.rate|FloatToPersian }}
                                        </p>
                                    </div>
                                    <a href="{% url 'MovieManager_show_movie' movie.id %}">
                                        <p>
                                        {{ movie.name }}
                                        </p>
                                    </a>
                                    <div class="float_left">
                                        <p>
                                        {{ movie.sale|IntegerToPersian }}
                                        تومان
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{% url 'MovieManager_sale_table' %}">
                                <p class="base_side_sale_movie_seeall float_left">
                                    مشاهده جدول کامل >>
                                </p>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}


            {% block sideBar_commingSoon %}
                {% if coming_soon %}
                    <div class="sideBar_divContainer">
                        <div class="back_gray_dark font_white sideBar_header">
                            <p>
                            به زودی
                            </p>
                        </div>
                        <div class="sideBar_content back_gray_light">
                            {% for item in coming_soon %}
                                <p>
                                    <img src="{% static 'icons/base/Play.png' %}" class="base_side_coming_soon_movies_play">
                                    {{ item.name }}
                                    <hay class="float_left">
                                        {{ item.date }}
                                    </hay>
                                </p>
                            {% endfor %}
                            <a href="">
                                <p id="base_side_coming_soon_side_seeall" class="float_left">
                                    مشاهده فیلم های آینده >>
                                </p>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}



            {% block sideBar_review %}
                {% if best_review %}
                    <div class="sideBar_divContainer">
                        <div class="back_gray_dark font_white sideBar_header">
                            <p>
                                نقد برگزیده
                            </p>
                        </div>
                        <div class="back_gray_light sideBar_content">
                            <img src="{{best_review}}" id="base_side_criticism_image">
                            <p>
                                {{ best_review_description }}
                                <a href="" class="float_left">
                                    ادامه مطلب
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}



            {% block sideBar_mostVisited %}
                {% if top_rated_movies %}
                    <div class="sideBar_divContainer">
                        <div class="back_gray_dark font_white sideBar_header">
                            <p>
                                پربازدیدترین ها
                            </p>
                        </div>
                        <div id="sideBar_mostVisited" class="sideBar_content back_gray_light">
                            <div id="sideBar_mostVisited_control">
                                <a href="{% url 'MovieManager_show_movie' top_rated_movies.0.id %}">
                                    <p>
                                        {{ top_rated_movies.0 }}
                                    </p>
                                    <div id="sideBar_mostVisited_names_hidden" style="display: none;">
                                        {% for movie in top_rated_movies %}
                                            <p id="{{ movie.id }}">
                                                {{ movie.name }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </a>
                                <div>
                                    <p>
                                        1
                                    </p>
                                </div>
                                <button type="button" id="mostVisited_arrowRight">
                                    <img src="{% static 'icons/base/arrowRight.png' %}" id="mostVisited_arrowRight">
                                </button>
                                <button type="button" id="mostVisited_arrowLeft">
                                    <img src="{% static 'icons/base/arrowLeft.png' %}" id="mostVisited_arrowLeft">
                                </button>
                            </div>
                            <div id="sideBar_mostVisited_images">
                                <div>
                                    {% for movie in top_rated_movies %}
                                        <img src="{{ movie.poster.url }}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}


            {% block sideBar_relatedNews %}
                {% if movieNews %}
                    <div class="sideBar_divContainer">
                        <div class="back_gray_dark font_white sideBar_header">
                            <p>
                                اخبار مربوط
                            </p>
                        </div>
                        <div class="back_gray_light sideBar_content">
                            {% for item in movieNews %}
                                <div class="movieNews_div border_bottom_div">
                                    <p>
                                        <a href="">
                                            {{ item.header }}
                                        </a>
                                        {{ item.time }}
                                        قبل
                                        /
                                        {{ item.source }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}


            {% block sideBar_lastUserList %}
                {% if userList %}
                    <div class="sideBar_divContainer">
                        <div class="back_gray_dark font_white sideBar_header">
                            <p>
                                آخرین لیست های کاربران
                            </p>
                        </div>
                        <div class="back_gray_light sideBar_content">
                            {% for item in userList %}
                                <div class="border_bottom_div overflow_auto sideBar_userList_div">
                                    <img src="{{ item.image }}">
                                    <div>
                                        <p class="sideBar_userList_header">
                                            <a href="">
                                                {{ item.header }}
                                            </a>
                                        </p>
                                        <p class="sideBar_userList_topicNumber">
                                            {{ item.topicNumber }}
                                            عنوان
                                        </p>
                                        <p class="sideBar_userList_writer">
                                            ایجاد شده توسط
                                            <a>
                                                {{ item.writer }}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>


{# part: آخرین بازدیدها #}
{##}
{#    <div id="base_main_last_viewed" class="clear">#}
{#        <div id="base_main_last_viewed_1">#}
{#            <p id="base_main_last_viewed_title">#}
{#                آخرین بازدیدها#}
{#            </p>#}
{#        </div>#}
{#        <a href="">#}
{#            <div class="base_main_last_viewed_images img_wrapper">#}
{#                <img src="/media/users/LastViewed/1.jpg" class="base_main_last_viewed_images">#}
{#            </div>#}
{#        </a>#}
{#        <a href="">#}
{#            <div class="base_main_last_viewed_images img_wrapper">#}
{#                <img src="/media/users/LastViewed/0.jpg" class="base_main_last_viewed_images">#}
{#            </div>#}
{#        </a>#}
{#    </div>#}


    <div id="base_main_footer">
        <div id="base_main_footer_right">
            <p class="base_main_footer_links">
                <a href="{% url 'AdminManager_homepage' %}" class="base_main_footer_links_single">
                صفحه اصلی
                </a>
                <a href="" class="base_main_footer_links_single">
                پروفایل کاربری
                </a>
                <a href="" class="base_main_footer_links_single">
                    راهنمای سایت
                </a>
            </p>

            <p class="base_main_footer_links">
                <a href="{% url 'MovieManager_top_100' %}" class="base_main_footer_links_single">
                    ۱۰۰فیلم برتر
                </a>
                <a href="" class="base_main_footer_links_single">
                    فروم
                </a>
                <a href="" class="base_main_footer_links_single">
                    قوانین سایت
                </a>
            </p>

            <p class="base_main_footer_links">
                <a href="{% url 'MovieManager_sale_table' %}" class="base_main_footer_links_single">
                    جدول فروش
                </a>
                <a href="" class="base_main_footer_links_single">
                    اخبار
                </a>
                <a href="" class="base_main_footer_links_single">
                    تبلیغات
                </a>
            </p>

            <p class="base_main_footer_links">
                <a href="" class="base_main_footer_links_single">
                    به زودی
                </a>
                <a href="" class="base_main_footer_links_single">
                    آخرین نقدها
                </a>
                <a href="" class="base_main_footer_links_single">
                    تماس با ما
                </a>
            </p>
        </div>


        <div id="base_main_footer_left">
            <div id="base_main_footer_followus_title">
                <p>
                    ما را دنبال کنید در:
                </p>

            </div>


            <a href="">
                <img src="/static/icons/base/0.png" class="base_main_footer_followus_icons">
            </a>
            <a href="">
                <img src="/static/icons/base/1.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/2.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/3.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/4.png" class="base_main_footer_followus_icons">
            </a><a href="">
                <img src="/static/icons/base/5.png" class="base_main_footer_followus_icons">
            </a>

        </div>

        <img src="{{ BASE_URL }}/static/icons/base/FooterLongLine.png" id="base_main_footer_long_line">

        <p>
            کلیه حقوق این سایت متعلق به موویکا می باشد.
        </p>

    </div>





</div>



</body>

</html>
