{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% block content %}

    <div class="border_bottom_div padding_left padding_right padding_top padding_bottom">
        <img src="{{ imageUrl }}" id="review_mainImage">
    </div>

    <div class="border_bottom_div padding_left padding_right padding_top padding_bottom">
        <p>
            {{ summary }}
        </p>
    </div>

    <div class="padding_right padding_left padding_top">
        <p>
            {{ content }}
        </p>
    </div>

{% endblock %}

</body>
</html>