
.padding_right_large{
    padding-right: 0.3cm;
}

.padding_left_large{
    padding-left: 0.3cm;
}

.padding_top_large{
    padding-top: 0.3cm;
}

.padding_bottom_large{
    padding-bottom: 0.3cm;
}

.margin_bottom_large{
    margin-bottom: 0.5cm;
}

.wrapper{
    width: 100%;
}

#info_image{
    width: 2cm;
    height: 3cm;
}

#info_name{
    float: right;
    margin-right: 0.3cm;
}

#info_name>a{
    font-size: 25px;
    font-weight: 600;
}

#info_allCrew{
    margin-right: 0.3cm;
    float: right;
    font-size: 25px;
    font-weight: 600;
}

.role_div{
    float: right;
    clear: both;
}

.role_div>p{
    font-size: 16px;
}

.role_div>div>p{
    margin-top: 0;
    font-size: 16px;
}

.table{
    width: 100%;
    float: right;
}

.table_header{
    background-color: #424242;
    padding-right: 0.2cm;
    padding-top: 0.1cm;
    overflow: auto;
}

.table_header>p{
    font-size: 17px;
}

.table_item{
    background-color: #eeeeee;
    float: right;
    clear: both;
    width: 100%;
    margin-top: 0.1cm;
}

.table_item>img{
    float: right;
    width: 1cm;
    height: 1cm;
    border-radius: 1cm;
    margin-top: 0.1cm;
    margin-right: 0.1cm;
    margin-bottom: 0.1cm;
}

.table_item>div{
    width: 11cm;
    float: right;
    margin-right: 0.2cm;
}

.table_item>div>p{
    position: relative;
    top: 0.25cm;
}

.table_item>p{
    position: relative;
    top: 0.25cm;
}









