


button{
    background-color: inherit;
    border: 0px;
}

@font-face {
    font-family: "yekan";
    src: url(/static/fonts/Yekan.eot);
    src: url(/static/fonts/Yekan.eot?#iefix) format("embedded-opentype") ,url(/static/fonts/Yekan.woff) format("woff") ,url(/static/fonts/Yekan.ttf) format("truetype") ,url(/static/fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

p{
    font-family: 'yekan';
    direction: rtl;
}

.padding_top{
    padding-top: 0.2cm;
}

.padding_right{
    padding-right: 0.2cm;
}

.padding_left{
    padding-left: 0.2cm;
}

.padding_bottom{
    padding-bottom: 0.2cm;
}

.overflow_auto{
    overflow: auto;
}

.img_wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}

.img_wrapper:hover img {
    transition: all .2s ease;
    vertical-align: middle;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
}

.clear:after{
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
    line-height: 0;
}

.color_blue_light{
    color: #0066cc;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.section_title{
    font-size: 25px;
    margin: 0 0.5cm 0 0;
}

.border_bottom_div{
    padding-bottom: 0.1cm;
    border-bottom: 1px solid #aaaaaa;
}

#test_button{
    background-color: #d58512;
}


.container{
    width:75%;
}


#main-slider-buttons{
    position: absolute;
    top:250px;
}

#slider-next{
    position:relative;
}

#slider-prev{
    position: relative;
    left: 680px;
}


/*main ****************/
.sideBar_divContainer{
    margin-top: 0.2cm;
}

body {
    background-color: #424242;
}

#base_main{
    margin-left: 6cm;
    width: 23.65cm;
    /*height: 50cm;*/
    background-color: #eeeeee;
}

/*end main ************/


/*header ************/
#base_main_header{
    height: 4cm;
    background-color: #ebebeb;
}

#base_main_header_sign{
    position: absolute;
    left: 10.75cm;
    top: 1.1cm;
}

#base_main_search_box_div{
    position: absolute;
    left: 13.2cm;
    top: 0.50cm;
}

#base_main_search_box{
    position: absolute;
    top: 1.05cm;
    left: 13.2cm;
    direction: rtl;
    width: 9.2cm;
    height: 1cm;
    border:solid;
    border-width: 0px;
    autocomplete: off;
}


#base_main_search_box_button{
    background-image: url("/static/icons/base/search.png");
    position: absolute;
    left: 13.3cm;
    top: 1.1cm;
    width: 0.9cm;
    height: 0.9cm;
    background-size: 100%;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

#base_main_search_box_button:hover{
    background-color: #eeeeee;
}

#base_main_search_box_button:active{
    background-color: #cccccc;
}

#base_logo{
    position: absolute;
    left: 23cm;
    top: 1cm;
    width: 6.65cm;
    height: 1.6cm;
}


#base_main_header_link_0{
    position: absolute;
    top: 2.5cm;
    left: 6.1cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_1{
    position: absolute;
    top: 2.5cm;
    left: 7.2cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_2{
    position: absolute;
    top: 2.5cm;
    left: 8.3cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_3{
    position: absolute;
    top: 2.5cm;
    left: 9.4cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_4{
    position: absolute;
    top: 2.5cm;
    left: 10.5cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_5{
    position: absolute;
    top: 2.5cm;
    left: 11.6cm;
    width: 1cm;
    height: 1cm;
}



#base_main_header_buttons_line_0{
    position: absolute;
    left: 13.2cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_1{
    position: absolute;
    left: 16.4cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_2{
    position: absolute;
    left: 19.6cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_3{
    position: absolute;
    left: 22.4cm;
    top: 2.5cm;
    height: 1cm;
}

.base_main_header_buttons_fonts{
    color: #424242;
    font-size: 20px;
}

#base_main_header_buttons_button_0{
    position: absolute;
    left: 20.4cm;
    top: 2.5cm;
    width: 2cm;
}

#base_main_header_buttons_button_1{
    position: absolute;
    left: 17cm;
    top: 2.5cm;
}

#base_main_header_buttons_button_2{
    position: absolute;
    left: 14.4cm;
    top: 2.5cm;
}

#base_main_header_buttons_button_0>div{
    left: -0.7cm;
}

#base_main_header_buttons_button_1>div{
    left: -0.3cm;
}

#base_main_header_buttons_button_2>div{
    left: -0.9cm;
}

.dropdown_menu>p{
    height: 1.5cm;
}


.dropdown_menu>p{
    position: absolute;
}


.dropdown_menu>div{
    display: none;
    position: absolute;
}

.dropdown_menu:hover>div, .dropdown_menu>div:hover{
    position: absolute;
    top: 1.5cm;
    display: inline;
}

.dropdown_menu>div>div{
    width: 2.7cm;
    position: relative;
    background-color: #eeeeee;
    z-index: 1;
}

.dropdown_menu>div>div>a{
    height: 1cm;
}

.dropdown_menu>div>div:hover{
    background-color: #ffffff;
}

.dropdown_menu>div>div{
    background-color: #eeeeee;
    padding: 0.1cm;
}

.dropdown_menu>div>div>a>p{
    text-align: center;
}

.dropdown_menu>div>div>a{
    text-decoration: none;
}

/*end buttons*/
/*end header ****************************/

/*side bar*******************************/
#base_side_bar{
    width: 6.7cm;
    margin:10px;
    float: left;
}

.back_gray{
    background-color: #eeeeee;
}

#base_side_sale_movie{
    margin: 0.1cm 0.1cm 0.2cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_sale_movie_title{
    background-color: #424242;
}

#base_side_sale_movie_title>p{
    color: #ffffff;
}

#base_side_coming_soon{
    margin: 0.5cm 0.1cm 0.2cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_coming_soon_title{
    background-color: #424242;
}

#base_side_coming_soon_title>p{
    color: white;
}

#base_side_criticism{
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_criticism_title{
    background-color: #424242;
}

#base_side_criticism_title>p{
    color: #ffffff;
}

#base_side_criticism_image{
    width: 100%;
    height: 3cm;
}

#base_side_most_viewed_title{
    background-color: #424242;
}

#base_side_most_viewed_title>p{
    color: #ffffff;
}


/*last_viewed**************************/

#base_main_last_viewed{

}

#base_main_last_viewed_1{
    margin: 0.1cm 0.2cm 0.2cm 0;
    clear: both;
    width: 2.5cm;
    height: 2.5cm;
    background-color: #eeeeee;
    float: right;
}

#base_main_last_viewed_title{
    font-size: 20px;
    margin: 0.3cm 0.4cm 0.2cm;
}

.base_main_last_viewed_images{
    margin: 0.1cm 0.1cm 0 0;
    float: right;
    width: 2cm;
    height: 2.5cm;
}

/*base_footer**************************/
#base_main_footer{
    clear: both;
    background-color: #323232;
}

#base_main_footer:after{
    clear:both;
    content: "";
}

#base_main_footer:before, #base_main_footer:after{
    content: "";
    clear: both;
}


#base_main_footer_right{
    float: right;
    /*background-color: tomato;*/
}

#base_main_footer_left{
    float: right;
    width: 11cm;
    /*background-color: #67b168;*/
}

.base_main_footer_links_single{
    width: 4cm;
    color: #ffffff;
    display: inline-block;
}

.base_main_footer_links_single>a:hover{
    color: #ffffff;
}

#base_main_footer_followus_title{
    float: right;
    color: #ffffff;
    margin: 0.2cm 0.2cm 0 0;
    font-size: 0.4cm;
    display: inline-block;
}

.base_main_footer_followus_icons{
    margin: 0.1cm 0.1cm 0.1cm 0;
    width: 1cm;
    height: 1cm;
}


#base_main_footer_long_line{
    width: 23.65cm;
}


/*content *******************************/

#base_main_content{
    background-color: #ffffff;
    padding: 0 0 0.1cm 0;
    border: solid;
    border-width: 0 0 0.05cm 0;
    border-color: #aaaaaa;
}



#base_content{
    /*background-color: #ffff00;*/
    /*height: 800px;*/
    width: 620px;
    float: right;
    border: solid;
    border-width: 0 0 0 0.05cm;
    border-left-color: #aaaaaa;
}


#base_background_content{
    position: absolute;
}

#base_over_content{
    position: absolute;
}





/********************************************************************/












.sideBar_header{
    font-size: 15px;
    height: 0.8cm;
    overflow: auto;
}

.sideBar_content{
    overflow: auto;
}

.sideBar_content>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.sideBar_header>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.back_gray_dark{
    background-color: #424242;
}

.back_gray_light{
    background-color: #eeeeee;
}

.font_white{
    color: #ffffff;
}

.movieNews_div>p{
    margin: 0.1cm;
    font-size: 8px;
}

.movieNews_div>p>a{
    font-size: 14px;
}

.sideBar_userList_div>img{
    float: right;
    width: 1.5cm;
    height: 2cm;
    margin: 0.2cm 0.2cm 0 0.2cm;
}

.sideBar_userList_div>div{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.sideBar_userList_topicNumber{
    font-size: 8px;
}

.sideBar_userList_writer{
    font-size: 10px;
}








































