


button{
    background-color: inherit;
    border: 0px;
}

@font-face {
    font-family: "yekan";
    src: url(/static/fonts/Yekan.eot);
    src: url(/static/fonts/Yekan.eot?#iefix) format("embedded-opentype") ,url(/static/fonts/Yekan.woff) format("woff") ,url(/static/fonts/Yekan.ttf) format("truetype") ,url(/static/fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

p{
    font-family: 'yekan';
    direction: rtl;
}

.padding_top{
    padding-top: 0.2cm;
}

.padding_right{
    padding-right: 0.2cm;
}

.padding_left{
    padding-left: 0.2cm;
}

.padding_bottom{
    padding-bottom: 0.2cm;
}

.padding_top_large{
    padding-top: 0.5cm;
}

.padding_right_large{
    padding-right: 0.5cm;
}

.padding_left_large{
    padding-left: 0.5cm;
}

.padding_bottom_large{
    padding-bottom: 0.5cm;
}



.overflow_auto{
    overflow: auto;
}

.img_wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}

.img_wrapper:hover img {
    transition: all .2s ease;
    vertical-align: middle;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
}

.play_movie{
    position: relative;
}

.play_movie>button>img{
    width: 1cm;
    height: 1cm;
    opacity:0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5cm;
    margin-top: -0.5cm;
    z-index: 1;
}

.play_movie>button:hover>img{
    opacity: 1;
}

.movie_image_info{
    background: rgba(200,200,200,0.5);
    position: absolute;
    top: 100%;
    margin-top: -0.6cm;
    z-index: 1;
    width:100%;
    overflow: auto;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
}

.movie_image_info>p{
    color: white;
    margin-right: 0.2cm;
}

.movie_image_info_wrapper:hover>.movie_image_info{
    transform: translate3d(0px, -20px, 0px);
}

.color_blue_light{
    color: #0066cc;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.section_title{
    font-size: 25px;
}

.border_bottom_div{
    padding-bottom: 0.1cm;
    border-bottom: 1px solid #aaaaaa;
}

#test_button{
    background-color: #d58512;
}

.position_relative{
    position: relative;
}

.container{
    width:75%;
}


#main-slider-buttons{
    position: absolute;
    top:250px;
}

#slider-next{
    position:relative;
}

#slider-prev{
    position: relative;
    left: 680px;
}


/*main ****************/
.sideBar_divContainer{
    margin-top: 0.2cm;

}

body {
    background-color: #424242;
    position: absolute;
    left: 50%;
    margin-left: -18cm;
}

#base_main{
    margin-left: 5cm;
    /*margin-right: 5cm;*/
    width: 26.65cm;
    background-color: #eeeeee;
    box-shadow: 0 0 5px 5px #222222;
}

/*end main ************/


/*header ************/
#base_main_header{
    height: 4cm;
    /*background-color: #ebebeb;*/
}

#base_main_header_sign{
    position: absolute;
    left: 10.5cm;
    top: 1.1cm;
}

#base_main_header_sign>a{
    color: #424242;
    text-decoration: none;
}


#base_main_search_box{
    position: absolute;
    top: 1.05cm;
    left: 13cm;
    direction: rtl;
    width: 10.3cm;
    height: 1cm;
    border:solid;
    border-width: 0;
    autocomplete: off;
    padding-right: 0.2cm;
}


#base_main_search_box_button{
    background-image: url("/static/icons/base/search.png");
    position: absolute;
    left: 13.1cm;
    top: 1.2cm;
    width: 0.75cm;
    height: 0.75cm;
    background-size: 100%;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
}


#main_searchSuggestion{
    position: absolute;
    background-color: #ffffff;
    width: 9.3cm;
    left: 13.5cm;
    top: 2cm;
    z-index: 3;
}

#main_searchSuggestion>div{
    margin: 0.1cm;
    border-bottom: 1px solid #aaaaaa;
    overflow: auto;
}

#main_searchSuggestion>div:hover{
    background-color: #eeeeee;
}

#main_searchSuggestion>div>div{
    float: right;
}

.searchSuggestion_image{
    float: right;
    width: 1cm;
    height: 1.5cm;
}

.searchSuggestion_name{
    font-size: 20px;
    margin-right: 0.2cm;
    float: right;
    width: 98%;
}

.searchSuggestion_description{
    font-size: 9px;
    float: right;
    clear: right;
    margin-right: 0.2cm;
}

.searchSuggestion_more{
    border-width: 0;
}

.searchSuggestion_more>a{
    text-align: center;
}











#base_logo{
    position: absolute;
    left: 25cm;
    top: 1cm;
    width: 6.65cm;
    height: 1.6cm;
}

.base_header_links:hover{
    text-decoration: none;
}

.base_header_links>img{
    position: relative;
    top: 2.5cm;
    left: 0.4cm;
    width: 1.1cm;
    height:1.1cm;
}

#base_main_header_buttons_line_0{
    position: absolute;
    left: 13cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_1{
    position: absolute;
    left: 16.5cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_2{
    position: absolute;
    left: 20cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_3{
    position: absolute;
    left: 23.2cm;
    top: 2.5cm;
    height: 1cm;
}

.base_main_header_buttons_fonts{
    color: #424242;
    font-size: 16px;

}

#base_main_header_buttons_button_0{
    position: absolute;
    left: 21cm;
    top: 2.65cm;
    width: 2cm;
}

#base_main_header_buttons_button_1{
    position: absolute;
    left: 17.5cm;
    top: 2.65cm;
}

#base_main_header_buttons_button_2{
    position: absolute;
    left: 14.3cm;
    top: 2.65cm;
}

#base_main_header_buttons_button_0>div{
    left: -0.7cm;
}

#base_main_header_buttons_button_1>div{
    left: -0.3cm;
}

#base_main_header_buttons_button_2>div{
    left: -0.9cm;
}

.dropdown_menu>p{
    height: 1.5cm;
}


.dropdown_menu>p{
    position: absolute;
}


.dropdown_menu>div{
    display: none;
    position: absolute;
    margin-top: -0.15cm;
}

.dropdown_menu:hover>div, .dropdown_menu>div:hover{
    position: absolute;
    top: 1.5cm;
    display: inline;
}

.dropdown_menu>div>div{
    width: 2.7cm;
    position: relative;
    background-color: #eeeeee;
    z-index: 2;
}

.dropdown_menu>div>div>a{
    height: 1cm;
}

.dropdown_menu>div>div:hover{
    background-color: #ffffff;
}

.dropdown_menu>div>div{
    background-color: #eeeeee;
    padding: 0.1cm;
}

.dropdown_menu>div>div>a>p{
    text-align: center;
}

.dropdown_menu>div>div>a{
    text-decoration: none;
}

/*end buttons*/
/*end header ****************************/



/*last_viewed**************************/

#base_main_last_viewed{

}

#base_main_last_viewed_1{
    margin: 0.1cm 0.2cm 0.2cm 0;
    clear: both;
    width: 2.5cm;
    height: 2.5cm;
    background-color: #eeeeee;
    float: right;
}

#base_main_last_viewed_title{
    font-size: 20px;
    margin: 0.3cm 0.4cm 0.2cm;
}

.base_main_last_viewed_images{
    margin: 0.1cm 0.1cm 0 0;
    float: right;
    width: 2cm;
    height: 2.5cm;
}

/*base_footer**************************/
#base_main_footer{
    clear: both;
    background-color: #323232;
}

#base_main_footer_right{
    float: right;
}

#base_main_footer_left{
    float: left;
    width: 11cm;
    margin-left:0.2cm;
}

.base_main_footer_links_single{
    width: 4cm;
    color: #ffffff;
    display: inline-block;
    margin-right:0.2cm;
}

.base_main_footer_links_single>a:hover{
    color: #ffffff;
}

#base_main_footer_followus_title{
    float: right;
    color: #ffffff;
    margin: 0.2cm 0.2cm 0 0;
    font-size: 0.4cm;
    display: inline-block;
}

.base_main_footer_followus_icons:hover{
    text-decoration: none;
}

.base_main_footer_followus_icons>img{
    margin: 0.1cm 0.1cm 0.1cm 0;
    width: 1cm;
    height: 1cm;
}


#base_main_footer_long_line{
    width:100%;
}


/*content *******************************/

#base_main_content{
    background-color: #ffffff;
    padding: 0 0 0.1cm 0;
    border: solid;
    border-width: 0 0 0.05cm 0;
    border-color: #aaaaaa;
    overflow: auto;
    min-height: 10cm;
}



#base_content{
    width: 18.65cm;
    float: right;
    border: solid;
    border-width: 0 0 0 0.05cm;
    border-left-color: #aaaaaa;
    overflow: auto;
}


#base_background_content{
    position: absolute;
}

#base_over_content{
    position: absolute;
}

#base_copy_right{
    color: white;
    margin-right: 0.2cm;
    position: relative;
    top:-0.2cm;
}



#sideBar{
    width: 8cm;
    float: left;
    position: relative;
}

#sideBar>div{
    width: 7cm;
    position: absolute;
    left: 50%;
    margin-left: -3.5cm;
}

.sideBar_sale_movie_number{
    background: #cc1111;
    color: #ffffff;
    width: 1cm;
    height: 1cm;
    float: right;
    text-align: center;
    font-size: 20px;
}

.sideBar_sale_movie_wrapper{
    clear: both;
    margin-top: 0.2cm;
    float: right;
    width:95%;
    margin-right: 0.1cm;
}

.sideBar_sale_movie_wrapper>a{
    float: right;
    margin-right: 0.1cm;
}


#sideBar_criticism_image{
    width: 100%;
    height: 3cm;
}

.sideBar_header{
    font-size: 15px;
    height: 0.8cm;
    overflow: auto;
}

.sideBar_content{
    overflow: auto;
}

.sideBar_content>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.sideBar_header>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.back_gray_dark{
    background-color: #424242;
}

.back_gray_light{
    background-color: #eeeeee;
}

.font_white{
    color: #ffffff;
}

.movieNews_div>p{
    margin: 0.1cm;
    font-size: 8px;
}

.movieNews_div>p>a{
    font-size: 14px;
}

.sideBar_userList_div>img{
    float: right;
    width: 1.5cm;
    height: 2cm;
    margin: 0.2cm 0.2cm 0 0.2cm;
}

.sideBar_userList_div>div{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.sideBar_userList_topicNumber{
    font-size: 8px;
}

.sideBar_userList_writer{
    font-size: 10px;
}

#sideBar_mostVisited{

}

#sideBar_mostVisited_images{
    overflow: hidden;
    height: 4cm;
}

#sideBar_mostVisited_images>div>img{
    width: 3cm;
    height: 4cm;
}

#sideBar_mostVisited_control{
    float: right;
    width: 3.7cm;
    height: 4cm;
}

#sideBar_mostVisited_control>a{
    text-align: center;
    position: relative;
    top: 0.25cm;
}

#sideBar_mostVisited_control>div{
    background-color: #d43f3a;
    width: 1.2cm;
    height: 1.2cm;
    border-radius: 1.2cm;
    float: right;
    position: relative;
    top: 0.5cm;
    left: -1.3cm;
}

#sideBar_mostVisited_control>div>p{
    text-align: center;
    position: relative;
    top: 0.2cm;
    font-size: 20px;
    color: #ffffff;
}

#sideBar_mostVisited_control>button{
    float: right;
    margin: 0.2cm;
    position: relative;
    top: 2cm;
    left: 0.3cm;
}







































