
.padding_top_large{
    padding-top: 0.5cm;
}

.padding_right_large{
    padding-right: 0.5cm;
}

.padding_left_large{
    padding-left: 0.5cm;
}

.padding_bottom_large{
    padding-bottom: 0.5cm;
}

#pageTitle{
    font-size: 25px;
    font-weight: 600;
}

#table>div{
    margin-top: 0.2cm;
    overflow: auto;
}

.table_redBox{
    background-color: #d43f3a;
    /*overflow: auto;*/
    overflow: visible;
    height: 2cm;
    float: right;
    width: 85%;
}

.table_redBox_name{
    width: 5cm;
    float: right;
    font-size: 20px;
    margin: 0.5cm 0.5cm 0.5cm;
}

.table_redBox_name>p{
    color: #ffffff;
}

.table_redBox_selectTitle{
    width: 2cm;
    float: right;
    margin-top: 0.7cm;
}

.table_redBox_selectTitle>p{
    color: #ffffff;
    font-size: 13px;
}

.table_redBox_selectYear{
    background-color: #ffffff;
    width: 5cm;
    position: absolute;
    margin: 0.6cm 0 0 0.2cm;
    float: right;
    height: 0.8cm;
    overflow: visible;
}

.table_redBox_selectYear>button{
    position: relative;
    top: 0.1cm;
}

.table_redBox_selectYear>button{
    border-right: 1px solid #aaaaaa;
}

.table_redBox>.table_redBox_selectYear>button>img{
    width: 0.5cm;
    height: 0.25cm;
}

.year{
    float: right;
    width: 4cm;
    background-color: #ffffff;
}

.year>p{
    margin-right: 0.1cm;
    float: right;
    width: 4cm;
}

.selectYear_all>.year:hover>a{
    background-color: #eeeeee;
}

.selectYear_all{
    float: right;
    position: absolute;
    margin: 0.2cm 0 0 0;
    background-color: #ffffff;
    display: none;
    z-index: 1;
}

.table_whiteBox{
    float: right;
    background-color: #eeeeee;
}

.table_whiteBox>p{
    margin: 0.75cm 0.2cm 0.75cm 0.2cm;
}










