
#first_films{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
    padding-bottom: 0.2cm;
    width: 17.6cm;
    height: 9cm;
    overflow: hidden;
    background-color: #323232;
}

#first_films>a{
    float: left;
    margin-left:0.2cm;
}

.teasers>img{
    width:100%;
    height:100%;
}

.teasers{
    position: relative;
    width: 5.5cm;
    height: 8cm;
    float: left;
    overflow: hidden;
    margin-top: 0.25cm;
    margin-left: 0.25cm;
}

/*last news*/
#last_news{
    position: relative;
    padding: 10px 0px 0px 10px;
    width: 17.9cm;
}

.last_news_div{
    float: right;
    height: 8cm;

}

#last_news_wrapper{
    float: right;

}

#last_title{
    position: relative;
    top: 0.2cm;
    font-size: 25px;
    width: 5cm;
    float: right;
}

/*buttons*/
#last_buttons{
    position: relative;
    float: right;
    height: 1.5cm;
    top: 0.3cm;
}

#last_buttons_0{
    position: relative;
    float: right;
}

#last_buttons_1{
    position: relative;
    float: right;
}

#last_buttons_2{
    position: relative;
    float: right;
}

#last_buttons_3{
    position: relative;
    float: right;
}

.last_buttons_lines_class{
    height: 1cm;
    width: 1px;
}

#last_buttons_line_1{
    position: relative;
    float: right;
}

#last_buttons_line_2{
    position: relative;
    float: right;
}

#last_buttons_line_3{
    position: relative;
    float: right;
}

.nav_button{
    color: gray;
    background-color: inherit;
}

.nav>li>a:hover,
.nav>li>a:focus{
    background-color:inherit;
}

.nav-pills>li.active>a:hover,
.nav-pills>li>a:focus:hover{
    background-color: inherit;
    color: blue;
}

.nav-pills>li.active>a:focus {
    background-color: inherit;
    border: 0px;
    color: #269abc;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus:hover{
    color: blue;
}

.nav-pills>li.active>a{
    background-color: inherit;
    color:#269abc;
}

.nav-pills > li + li{
    margin-left: -5px;
    margin-right: -5px;
}

.nav_main_news{
    width: 11cm;
    float: right;
    margin-right: 0.1cm;
}

.nav_main_news_title{
    font-size: 15px;
}

.nav_main_news_title>dum{
    font-size: 10px;
    color: #aaaaaa;
}

.nav_images{
    float: right;
    width: 4cm;
    height: 3cm;
}

.nav_titles{
    clear: both;
}

/*nav content*/
#nav_content{
    position: relative;
    left: 0px;
    top: -1cm;
    width: 600px;
}

.nav_articles_main{
    width: 600px;
    height: 150px;
}

.nav_title_0{
    float: right;
    width: 300px;
    height: 20px;
    clear: right;
    /*background: #2aabd2;*/
}

.nav_title_1{
    float: left;
    width: 300px;
    height: 20px;
    clear: left;
    margin-top: 0.1cm;
    /*background: #ffff00;*/
}

/*last images******************************/
#last_images_title_div{
    width: 5cm;
    float: right;
}

#last_images{
    width: 100%;
    height: 8.3cm;
    overflow: hidden;
}

.last_images_class{
    float: right;
    background: #ffff00;
    overflow: hidden;
}

#last_images_0{
    width: 5.4cm;
    height: 6.7cm;
    margin-top: 0.1cm;
    clear: right;
}

#last_images_0>img{
    height:100%;
    width:auto;
}

#last_images_1{
    width: 100%;
    height: 3.7cm;
}

#last_images_1>img{
    width:100%;
    height:auto;
}

#last_images_2{
    width: 100%;
    height: 3.7cm;
    margin-top: 0.2cm;
}

#last_images_2>img{
    width:100%;
    height: auto;
}

#last_images_3{
    width: 5.8cm;
    height: 7.6cm;
    margin-right: 0.2cm;
    position: relative;
    top: -0.8cm;
}

#last_images_3>img{
    width:auto;
    height: 100%;
}

#last_images_1_2{
    float: right;
    height: 8cm;
    width: 6cm;
    margin-right: 0.2cm;
    position: relative;
    top: -0.8cm;
}

/*start birthday*/
#birthday{
    margin: 0.1cm 0 0.1cm 0;
}

#birthday_title{
    margin: 0.1cm 0.5cm 0.2cm 0;
    font-size: 25px;
}

.birthday_images{
    margin: 0 0 0 0.2cm;
    width: 5.7cm;
    height: 3.55cm;
}


.poll_images{
    width: 3.4cm;
    height: 4.44cm;
    margin: 0 0 0 0.1cm;
}

#poll_description{
    margin: 0.5cm 0.5cm 0.5cm 0;
}

#frame_movie_background_dark{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    display: none;
    z-index: 10;
}

.frame_movie_wrapper{
    position: fixed;
    left: 10cm;
    top: 2cm;
    width: 17cm;
    height: 10.5cm;
    background: #aaaaaa;
    display: none;
    z-index: 11;
}

.frame_movie_wrapper>button{
    float: right;
    margin: 0.2cm;
}














