

#signup_topContent{
    float: right;
    margin: 0.5cm 0.3cm 0 0;
}

#signup_bottomContent{
    float: right;
    clear: right;
    margin: 0.5cm 0.3cm 0 0;
}

.signup_content_1{
    /*overflow: auto;*/
    float: right;
    clear: both;
    margin: 0.1cm 0cm 0cm 0cm;
}

.signup_content_2{
    /*overflow: auto;*/
    float: right;
    clear: both;
    margin: 0.1cm 0 0 0;
}

.signup_fieldName{
    float: right;
    width: 4cm;
}

.signup_fieldName>p{
    font-size: 16px;
}

.signup_input{
    float: right;
}

.signup_input>input{
    width: 7.93cm;
    height: 1.05cm;
    direction: rtl;
}

.signup_input2{
    float: right;
    direction: rtl;
}

.signup_changeDate_text{
    width: 1.32cm;
    height: 1.05cm;
    float: right;
    margin: 0 0 0 0.2cm;
}

#signup_changeDate_id{
    height: 1cm;
    overflow: visible;
}

#signup_changeDate_year{
    float: right;
    margin: 0 1.75cm 0.2cm 0;
    height: 0.79cm;
}

#signup_changeDate_button{
    width: 1cm;
    height: 1cm;
}

#signup_changeDate{
    position: relative;
    z-index: 1000;
    display: none;
    float: right;
    background-color: #dddddd;
    width: 5cm;
    overflow: auto;
    border: solid;
    border-width: 0.05cm;
    border-color: #aaaaaa;
    border-radius: 0.2cm;
}

#signup_changeDate_right{
    float: right;
}

#signup_changeDate_left{
    float: right;
}

#signup_changeDate_left>img{
    width: 0.5cm;
    height: 0.5cm;
}

#signup_changeDate_right>img{
    width: 0.5cm;
    height: 0.5cm;
}

#signup_changeDate_month{
    float: right;
    width: 3cm;
}

#signup_changeDate_days{
    width: 5cm;
    height: 5cm;
    float: right;
}

.signup_changeDate_numbers{
    background-color: #eeeeee;
    border: solid;
    border-width: 0.05cm;
    border-color: #aaaaaa;
    border-radius: 0.1cm;
    float: right;
    width: 0.5cm;
    height: 0.5cm;
    margin: 0.1cm;
}

.signup_changeDate_numbers:hover{
    background-color:#cccccc;
}

#signup_booleanTypes{
    width: 9cm;
    float: right;
}

.signup_booleanTypes_div{
    width: 2.2cm;
    float: right;
}

.signup_booleanTypes_div>p{
    font-size: 12px;
}

.signup_booleanTypes_div_checkBox{
    width: 10px;
    height: 20px;
}

.signup_booleanTypes_div_checkBox_image{
    width: 10px;
}

#signup_formButtons{
    width: 5cm;
    float: right;
    height: 1.5cm;
}


#signup_formButtons_submit{
    background-color: #d1282d;
    width: 2cm;
    height: 1cm;
    border-width: 0;
    color: #ffffff;
    font-size: 20px;
}

#signup_formButtons_cancel{
    background-color: gray;
    width: 2cm;
    height: 1cm;
    border-width: 0;
    color: #ffffff;
    font-size: 20px;
}


.signup_search_parent{
    position: relative;
    overflow: visible;
    width: 8cm;
}

.signup_searchType{
    float: right;
}

.signup_suggestion{
    clear: both;
    top: 1cm;
    position: absolute;
    z-index: 10;
    float: right;
    width: 8cm;
}

.signup_oneSuggestion{
    float: right;
    width: 8cm;
    background-color: #eeeeee;
}

.signup_oneSuggestion:hover{
    background-color: #bbbbbb;
}

.signup_addSuggestion{
    width: 8cm;
    height: 1cm;
    margin: 0.1cm 0 0.1cm 0;
}



.signup_content_3{
    margin: 0.5cm 0 0 0;
}

.signup_element{
    float: right;
    background-color: #d1282d;
    color: #ffffff;
    width: 2.5cm;
    height: 0.60cm;
    border-radius: 0.3cm;
    margin: 0.1cm 0 0.1cm 0;
}

.signup_element_text{
    position: relative;
    top: 0.1cm;
    left: -0.6cm;
    font-size: 10px;
}

.signup_element>div{
    float: right;
    position: relative;
    top: -.60cm;
    left: -0.4cm;
    z-index: 2;
    width: 0.1cm;
    height: 0.1cm;
    border-radius: 5cm;
}


.signup_element_close_btn_img{
    float: right;
    position: relative;
    /*top: -0.70cm;*/
    left: -0.1cm;
    z-index: 5;
    width: 0.3cm;
    height: 0.3cm;
}

#signup_aboutMe{
    width: 7.93cm;
    height: 2.64cm;
}


















