





button{
    background-color: inherit;
    border: 0px;
}



@font-face {
    font-family: "yekan";
    src: url(/static/fonts/Yekan.eot);
    src: url(/static/fonts/Yekan.eot?#iefix) format("embedded-opentype") ,url(/static/fonts/Yekan.woff) format("woff") ,url(/static/fonts/Yekan.ttf) format("truetype") ,url(/static/fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}


p{
    font-family: 'yekan';
    direction: rtl;
}

.padding_top{
    padding-top: 0.2cm;
}

.padding_right{
    padding-right: 0.2cm;
}

.padding_left{
    padding-left: 0.2cm;
}

.padding_bottom{
    padding-bottom: 0.2cm;
}

.overflow_auto{
    overflow: auto;
}

.clear:after{
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
    line-height: 0;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.section_title{
    font-size: 25px;
    margin: 0 0.5cm 0 0;
}

.border_bottom_div{
    padding-bottom: 0.1cm;
    border-bottom: 1px solid #aaaaaa;
}

#test_button{
    background-color: #d58512;
}


.container{
    width:75%;
}


#main-slider-buttons{
    position: absolute;
    top:250px;
}

#slider-next{
    position:relative;
}

#slider-prev{
    position: relative;
    left: 680px;
}


/*main ****************/
.sideBar_divContainer{
    margin-top: 0.2cm;
}

body {
    background-color: #424242;
}

#base_main{
    margin-left: 6cm;
    width: 23.65cm;
    /*height: 50cm;*/
    background-color: #eeeeee;
}

/*end main ************/


/*header ************/
#base_main_header{
    height: 4cm;
    background-color: #ebebeb;
}

#base_main_header_sign{
    position: absolute;
    left: 10.75cm;
    top: 1.1cm;
}

#base_main_search_box_div{
    position: absolute;
    left: 13.2cm;
    top: 0.50cm;
    /*background-color: blue;*/
}

#base_main_search_box{
    position: absolute;
    top: 1.05cm;
    left: 13.2cm;
    direction: rtl;
    width: 9.2cm;
    height: 1cm;
    border:solid;
    border-width: 0px;
}


#base_main_search_box_button{
    background-image: url("/static/icons/base/search.png");
    position: absolute;
    left: 13.3cm;
    top: 1.1cm;
    width: 0.9cm;
    height: 0.9cm;
    background-size: 100%;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

#base_main_search_box_button:hover{
    background-color: #eeeeee;
}

#base_main_search_box_button:active{
    background-color: #cccccc;
}

#base_logo{
    position: absolute;
    left: 23cm;
    top: 1cm;
    width: 6.65cm;
    height: 1.6cm;
}


#base_main_header_link_0{
    position: absolute;
    top: 2.5cm;
    left: 6.1cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_1{
    position: absolute;
    top: 2.5cm;
    left: 7.2cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_2{
    position: absolute;
    top: 2.5cm;
    left: 8.3cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_3{
    position: absolute;
    top: 2.5cm;
    left: 9.4cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_4{
    position: absolute;
    top: 2.5cm;
    left: 10.5cm;
    width: 1cm;
    height: 1cm;
}

#base_main_header_link_5{
    position: absolute;
    top: 2.5cm;
    left: 11.6cm;
    width: 1cm;
    height: 1cm;
}



#base_main_header_buttons_line_0{
    position: absolute;
    left: 13.2cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_1{
    position: absolute;
    left: 16.4cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_2{
    position: absolute;
    left: 19.6cm;
    top: 2.5cm;
    height: 1cm;
}

#base_main_header_buttons_line_3{
    position: absolute;
    left: 22.4cm;
    top: 2.5cm;
    height: 1cm;
}

.base_main_header_buttons_fonts{
    color: #424242;
    font-size: 20px;
}

#base_main_header_buttons_button_0{
    position: absolute;
    left: 20.2cm;
    top: 2.5cm;
}

#base_main_header_buttons_button_1{
    position: absolute;
    left: 16.9cm;
    top: 2.5cm;
}

#base_main_header_buttons_button_2{
    position: absolute;
    left: 14.2cm;
    top: 2.5cm;
}

.dropdown_menu>span{
    /*display: block;*/
    display: none;
}

.dropdown_menu:hover>span{
    display: block;
}

.dropdown_menu>span>div{
    background-color: #eeeeee;
}

/*end buttons*/
/*end header ****************************/

/*side bar*******************************/
#base_side_bar{
    width: 6.7cm;
    margin:10px;
    float: left;
}

.back_gray{
    background-color: #eeeeee;
}

#base_side_sale_movie{
    margin: 0.1cm 0.1cm 0.2cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_sale_movie_title{
    background-color: #424242;
}

#base_side_sale_movie_title>p{
    color: #ffffff;
}

#base_side_coming_soon{
    margin: 0.5cm 0.1cm 0.2cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_coming_soon_title{
    background-color: #424242;
}

#base_side_coming_soon_title>p{
    color: white;
}

#base_side_criticism{
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
    width: 100%;
    overflow: hidden;
}

#base_side_criticism_title{
    background-color: #424242;
}

#base_side_criticism_title>p{
    color: #ffffff;
}

#base_side_criticism_image{
    width: 100%;
    height: 3cm;
}

#base_side_most_viewed_title{
    background-color: #424242;
}

#base_side_most_viewed_title>p{
    color: #ffffff;
}


/*last_viewed**************************/

#base_main_last_viewed{

}

#base_main_last_viewed_1{
    margin: 0.1cm 0.2cm 0.2cm 0;
    clear: both;
    width: 2.5cm;
    height: 2.5cm;
    background-color: #eeeeee;
    float: right;
}

#base_main_last_viewed_title{
    font-size: 20px;
    margin: 0.3cm 0.4cm 0.2cm;
}

.base_main_last_viewed_images{
    margin: 0.1cm 0.1cm 0 0;
    float: right;
    width: 2cm;
    height: 2.5cm;
}

/*base_footer**************************/
#base_main_footer{
    clear: both;
    background-color: #323232;
}

#base_main_footer:after{
    clear:both;
    content: "";
}

#base_main_footer:before, #base_main_footer:after{
    content: "";
    clear: both;
}


#base_main_footer_right{
    float: right;
    /*background-color: tomato;*/
}

#base_main_footer_left{
    float: right;
    width: 11cm;
    /*background-color: #67b168;*/
}

.base_main_footer_links_single{
    width: 4cm;
    color: #ffffff;
    display: inline-block;
}

.base_main_footer_links_single>a:hover{
    color: #ffffff;
}

#base_main_footer_followus_title{
    float: right;
    color: #ffffff;
    margin: 0.2cm 0.2cm 0 0;
    font-size: 0.4cm;
    display: inline-block;
}

.base_main_footer_followus_icons{
    margin: 0.1cm 0.1cm 0.1cm 0;
    width: 1cm;
    height: 1cm;
}


#base_main_footer_long_line{
    width: 23.65cm;
}


/*content *******************************/

#base_main_content{
    background-color: #ffffff;
    padding: 0 0 0.1cm 0;
    border: solid;
    border-width: 0 0 0.05cm 0;
    border-color: #aaaaaa;
}



#base_content{
    /*background-color: #ffff00;*/
    /*height: 800px;*/
    width: 620px;
    float: right;
    border: solid;
    border-width: 0 0 0 0.05cm;
    border-left-color: #aaaaaa;
}


#base_background_content{
    position: absolute;
}

#base_over_content{
    position: absolute;
}





/****************************************************************************************/
/*movie*/

.div_longLine{
    border-bottom: solid;
    border-bottom-width: 0.05cm;
    border-bottom-color: #aaaaaa;
}


/***************************/
/*movie- sideBar*/

#movAct_sideBar_fastAccess{
    background-color: #eeeeee;
    overflow: auto;
}

#movAct_sideBar_fastAccess_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_fastAccess_title>p{
    color: #ffffff;
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.movAct_sideBar_fastAccess_1{
    width: 3cm;
    float: right;
    margin: 0.1cm 0.2cm 0 0;
    /*background-color: #0066cc;*/
}

.movAct_sideBar_fastAccess_1>p{
    font-size: 12px;
}


#movAct_sideBar_bestArticle{
    background-color: #eeeeee;
    margin: 0.5cm 0 0 0;
    overflow: auto;
}

#movAct_sideBar_bestArticle_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_bestArticle_title>p{
    color: #ffffff;
    margin: 0.1cm 0.2cm 0.1cm 0;
}

#movAct_sideBar_bestArticle>img{
    width: 100%;
}

#movAct_sideBar_bestArticle_content{
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    font-size: 12px;
}

#movAct_sideBar_bestArticle_content_continue{
    float:left;
    font-size: 10px;
}


#movAct_sideBar_news{
    overflow:auto;
    margin: 0.5cm 0 0 0;
    background-color: #eeeeee;
}

#movAct_sideBar_news_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_news_title>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
    color: #ffffff;
}

#movAct_sideBar_news_seeAll{
    float: left;
    font-size: 12px;
}

#movAct_sideBar_userList{
    background-color: #eeeeee;
    overflow: auto;
    margin: 0.5cm 0 0 0;
}

#movAct_sideBar_userList_title{
    background-color: #424242;
    overflow: auto;
}

#movAct_sideBar_userList_title>p{
    color: #ffffff;
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.movAct_sideBar_userList_item{
    overflow: auto;
}

.movAct_sideBar_userList_image{
    float: right;
    width: 1.5cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
}

.movAct_sideBar_userList_content{
    color: #0066cc;
    font-size: 13px;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
}

.movAct_sideBar_userList_content_writer{
    font-size: 8px;
}

#movAct_sideBar_userList_seeAll{
    float: left;
    font-size: 12px;
}

/*actor *************************************************************************/

#actor_info{
    overflow: auto;
}

#actor_info_mainImage{
    float:right;
    width: 6cm;
    height: 8cm;
    margin-top: 0.15cm;
}

#actor_info_top{
    overflow: auto;
}

#actor_info_top_name{
    width: 5cm;
    float: right;
}

#actor_info_top_point{
    background-color: #d1282d;
    width: 1cm;
    height: 1cm;
    margin: 0.2cm 0 0 0.2cm;
    border-radius: 0.5cm;

}

#actor_info_top_point>p{
    color: #ffffff;
    position: relative;
    left: -0.25cm;
    top: 0.25cm;
}

#actor_info_top_name>p>dum{
    font-size: 20px;
    font-weight: 600;
}

#actor_info_top_name>p{
    font-size: 11px;
}

#actor_info_biography{
    height: 3.3cm;
}

#actor_info_biography>p{
    font-size: 12px;
}

#actor_info_biography_seeAll{
    position: relative;
    top: -0.1cm;
}

#actor_info_arrowButton{
    width: 0.9cm;
    height: 0.9cm;
    position: relative;
    top: -0.2cm;
    left: 0.2cm;


}

#actor_info_birthday{
    float: right;
    width: 5cm;
}


.actor_info_images{
    float: right;
    width: 2.4cm;
    height: 2.4cm;
    margin: 0.1cm 0.05cm 0.1cm 0.05cm;
}

#actor_info_images_seeAll{
    float: left;
    margin: 0 0 0 0.2cm;
    font-size: 12px;
}

#actor_prizes>div{
    border-radius: 0.25cm;
    border-width: 0.05cm;
    border-style: solid;
    height: 1cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    background-color: #eeeeee;
    border-color: #aaaaaa;
}

#actor_prizes>div>p{
    font-size: 12px;
    margin: 0.05cm 0.1cm 0.05cm 0.1cm;
}

#actor_prizes>div>p>dum{
    font-size: 16px;
    font-weight: bold;
}

#actor_prizes>div>p>a{
    margin: 0.2cm 0.1cm 0 0.1cm;
    float: left;
}


#actor_proposedWorks{
    overflow: auto;
}

#actor_proposedWorks>div>p{
    font-size: 20px;
    font-color: #aaaaaa;
}

.actor_proposedWorks_images{
    float: right;
    margin: 0.1cm 0 0.1cm 0.1cm;
    width: 3.9cm;
    height: 5cm;
    position: relative;
    top: -0.1cm;
}

#actor_filmography_title{
    font-size: 20px;
}

.actor_filmography_headers{
    background-color: #424242;
    overflow: hidden;
    margin: 0.1cm 0 0.1cm 0;
    height: 0.8cm;
}

.actor_filmography_headers>.actor_filmography_headers_1>p{
    color: #ffffff;
}

.actor_filmography_headers>.actor_filmography_headers_1{
    width: 5cm;
    float: right;
    margin: 0.1cm 0.4cm 0cm 0.2cm;

}

.actor_filmography_headers>.actor_filmography_headers_2{
    margin: 0.15cm 0.2cm 0cm 0.2cm;
}

.actor_filmography_headers>.actor_filmography_headers_2>a>div{
    background-color: white;
    width: 0.5cm;
    height: 0.5cm;
    border-radius: 0.1cm;
}

.actor_filmography_headers>.actor_filmography_headers_2>a>div>img{
    width: 0.4cm;
    height: 0.4cm;
}

#actor_filmography_actor_div{
    display: none;
}

#actor_filmography_directories_div{
    display: none;
}

#actor_filmography_editor_div{
    display: none;
}

.actor_filmography_bodies{
    background-color: #eeeeee;
    margin: 0.1cm 0cm 0.1cm 0cm;
    overflow: auto;
}


.actor_filmography_bodies>p{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}


.actor_filmography_bodies>p>dum1{
    float:left;
}


#actor_userPost{
    overflow: auto;
}

.actor_userPost_bodies{
    background-color: #eeeeee;
    overflow: auto;
    margin: 0.1cm 0 0 0 ;
}

.actor_userPost_bodies>div{
    float: right;
    width: 12cm;
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.actor_userPost_bodies>dum>div{
    overflow: auto;
}

.actor_userPost_bodies>dum>div>img{
    float: right;
    margin: 0.25cm 0 0 0;
}

.actor_userPost_bodies>dum>div>p{
    margin: 0.25cm 0 0 0;
}

#actor_userPost_all{
    display: none;
}

#actor_userPost_seeAll{
    float: left;
}

#actor_userPost_hideAll{
    float:left;
    display: none;
}


#actor_changeInfo{
    overflow: auto;
}

#actor_changeInfo>p{
    float: right;
    width: 8cm;
    font-size: 10px;
}

#actor_changeInfo>p>dum{
    font-size: 20px;
}

#actor_changeInfo_button{
    float: left;
    overflow: auto;
}

#actor_changeInfo_button{
    background-color: #d1282d;
    width: 3cm;
    height: 0.9cm;
    overflow: auto;
    border-radius: 0.1cm;
    margin: 0.1cm 0 0.1cm 0;
}

#actor_changeInfo_button>p{
    color: #ffffff;
    margin: 0cm 0cm 0 0;
}

#actor_changeInfo_button:hover{
    background-color: #ac2925;
}



/********************************************************************/
/*signup*/
#signup_topContent{
    float: right;
    margin: 0.5cm 0.3cm 0 0;
}

#signup_bottomContent{
    float: right;
    clear: right;
    margin: 0.5cm 0.3cm 0 0;
}

.signup_content_1{
    overflow: auto;
    float: right;
    clear: both;
    margin: 0.1cm 0cm 0cm 0cm;
}

.signup_content_2{
    overflow: auto;
    float: right;
    clear: both;
    margin: 0.1cm 0 0 0;
}

.signup_fieldName{
    float: right;
    width: 4cm;
}

.signup_fieldName>p{
    font-size: 16px;
}

.signup_input{
    float: right;
}

.signup_input>input{
    width: 300px;
    height: 40px;
    direction: rtl;
}

.signup_input2{
    float: right;
    direction: rtl;
}

.signup_changeDate_text{
    width: 50px;
    height: 40px;
    float: right;
    margin: 0 0 0 0.2cm;
}


#signup_changeDate_id{
    height: 1cm;
    overflow: visible;
}

#signup_changeDate_year{
    float: right;
    margin: 0 1.75cm 0.2cm 0;
    height: 30px;
}

#signup_changeDate_button{
    width: 1cm;
    height: 1cm;
}

#signup_changeDate{
    position: relative;
    z-index: 1000;
    display: none;
    float: right;
    background-color: #dddddd;
    width: 5cm;
    overflow: auto;
    border: solid;
    border-width: 0.05cm;
    border-color: #aaaaaa;
    border-radius: 0.2cm;

}

#signup_changeDate_right{
    float: right;
}

#signup_changeDate_left{
    float: right;
}

#signup_changeDate_left>img{
    width: 0.5cm;
    height: 0.5cm;
}

#signup_changeDate_right>img{
    width: 0.5cm;
    height: 0.5cm;
}

#signup_changeDate_month{
    float: right;
    width: 3cm;
}

#signup_changeDate_days{
    width: 5cm;
    height: 5cm;
    float: right;
}

.signup_changeDate_numbers{
    background-color: #eeeeee;
    border: solid;
    border-width: 0.05cm;
    border-color: #aaaaaa;
    border-radius: 0.1cm;
    float: right;
    width: 0.5cm;
    height: 0.5cm;
    margin: 0.1cm;
}

.signup_changeDate_numbers:hover{
    background-color:#cccccc;
}


#signup_booleanTypes{
    width: 9cm;
    float: right;
}

.signup_booleanTypes_div{
    width: 2.2cm;
    float: right;
}

.signup_booleanTypes_div>p{
    font-size: 12px;
}

.signup_booleanTypes_div_checkBox{
    width: 10px;
    height: 20px;
}

.signup_booleanTypes_div_checkBox_image{
    width: 10px;

}


#signup_formButtons{
    width: 5cm;
    float: right;
    height: 1.5cm;
}


#signup_formButtons_submit{
    background-color: #d1282d;
    width: 2cm;
    height: 1cm;
    border-width: 0;
    color: #ffffff;
    font-size: 20px;
}

#signup_formButtons_cancel{
    background-color: gray;
    width: 2cm;
    height: 1cm;
    border-width: 0;
    color: #ffffff;
    font-size: 20px;
}


.signup_search_parent{
    position: relative;
    overflow: visible;
    width: 8cm;
}

.signup_searchType{
    float: right;
}

.signup_suggestion{
    clear: both;
    top: 1cm;
    position: absolute;
    z-index: 10;
    float: right;
    width: 8cm;
    /*overflow: auto;*/
}

.signup_oneSuggestion{
    float: right;
    /*z-index: 100;*/
    /*position: relative;*/
    width: 8cm;
    background-color: #eeeeee;
}

.signup_oneSuggestion:hover{
    background-color: #bbbbbb;
}

.signup_addSuggestion{
    width: 8cm;
    height: 1cm;
    /*background-color: #0066cc;*/
    margin: 0.1cm 0 0.1cm 0;
}



.signup_content_3{
    margin: 0.5cm 0 0 0;
}

.signup_element{
    float: right;
    background-color: #d1282d;
    color: #ffffff;
    width: 2.5cm;
    height: 0.60cm;
    border-radius: 0.3cm;
    margin: 0.1cm 0 0.1cm 0;
}

.signup_element_text{
    position: relative;
    top: 0.1cm;
    left: -0.6cm;
    font-size: 10px;
}

.signup_element>div{
    float: right;
    position: relative;
    top: -.60cm;
    left: -0.4cm;
    z-index: 2;
    width: 0.1cm;
    height: 0.1cm;
    border-radius: 5cm;
}


.signup_element_close_btn_img{
    float: right;
    position: relative;
    /*top: -0.70cm;*/
    left: -0.1cm;
    z-index: 5;
    width: 0.3cm;
    height: 0.3cm;
}

#signup_aboutMe{
    width: 300px;
    height: 100px;
}





/***********************************************************************************/
/*sale_table*/
#saleTable_mainTitle{
    font-size: 30px;
    font-weight: 700;
}

#saleTable_header{
    background-color: #444444;
    width: 100%;
    height: 1cm;
    float: right;
}

#saleTable_header p{
    color: #ffffff;
    font-size: 17px;
}

#saleTable_header div{
    float: right;
}

#saleTable_header_movieName{
    width: 3cm;
    margin: 0.15cm 1.75cm 0.15cm 0;
}

#saleTable_header_showTime{
    width: 3cm;
    margin: 0.15cm 3cm 0.15cm 0;
}

#saleTable_header_saleAmount{
    width: 3cm;
    margin: 0.15cm 2cm 0.15cm 0;
}

.saleTable_movie{
    background-color: #eeeeee;
    margin: 0 0 0.1cm 0;
    width: 100%;
    overflow: auto;
}

.saleTable_movie div{
    float: right;
}

.saleTable_movie_image{
    float: right;
    height: 2cm;
    width: 1.5cm;
    margin: 0.1cm 0.1cm 0.1cm 0;
}

.saleTable_movie_name{
    width: 5cm;
    margin: 0.75cm 0.2cm 0 0;
}

.saleTable_movie_point{
    float: right;
    background-color: #ac2925;
    width: 0.75cm;
    height: 0.75cm;
    position: relative;
    top: 1.35cm;
    left: 5.95cm;
}

.saleTable_movie_point p{
    color: #ffffff;
    text-align: center;
}

.saleTable_movie_showTime{
    margin: 0.75cm 0 0 0;
    position: relative;
    left: -0.6cm;
}

.saleTable_movie_saleAmount{
    margin: 0.75cm 0 0 0;
    position: relative;
    left: -3.2cm;
}

.sideBar_titles {
    background-color: #444444;
    overflow: auto;
}

.sideBar_titles p{
    color: #ffffff;
    margin: 0.1cm 0.1cm 0.1cm 0;
}

.sideBar_contents{
    margin-right: 0.1cm;
}

#saleTable_otherSaleTables{
    height: 3cm;
}

/****************************************************************************************************/
/*awards page*/
#awards_movie_info img{
    float: right;
    width: 2cm;
    height: 3cm;
}


#awards_movie_info_name{
    margin-right: 0.2cm;
    float: right;
    width: 80%;
    /*font-size: 25px;*/
    /*background-color: #449d44;*/
}

#awards_movie_info_name a{
    font-size: 25px;
}

#awards_movie_info_awards{
    float: right;
    font-size: 25px;
    /*background-color: #31b0d5;*/
    margin-right: 0.2cm;
    width: 80%;
}

#awards_movie_info_awardsNumber{
    float: right;
    margin-right: 0.2cm;
}

.awards_movie_content_tables{
    float: right;
    clear: both;
    width: 100%;
    table-layout: fixed;
}

.awards_movie_content_header_name{
    background-color: #d1282d;
    color: #ffffff;
    border: none;
    font-size: 18px;
}

.awards_movie_content_header_name p{
    margin-right: 0.2cm;
}

.awards_movie_content_header_year{
    background-color: #eeeeee;
    width: 1.5cm;
    text-align: center;
    font-size: 18px;
}

.awards_movie_content_tables_header{
    margin-top: 0.5cm;
}

.awards_movie_content_tables_content td{
    border: 1px solid #aaaaaa;
}

.awards_movie_content_cellHeader{
    text-align: center;
    justify-content: space-around;
    width: 5cm;
    font-size: 18px;
    font-weight: 500;
}

.awards_movie_content_cellContent p{
    margin-right: 0.2cm;
    font-size: 15px;
}

/***********************************************************************************************/
/*awards_actor*/
#awards_actor_info img{
    float: right;
    width: 2.5cm;
    height: 3cm;
}

#awards_actor_info_name{
    float: right;
    font-size: 25px;
    margin-right: 0.2cm;
    width: 80%;
}

#awards_actor_info_awards{
    float: right;
    font-size: 25px;
    margin-right: 0.2cm;
    width: 80%;
}

#awards_actor_info_awardsNumber{
    float: right;
    margin-right: 0.2cm;
}

.awards_actor_content_tables{
    float: right;
    clear: both;
    width: 100%;
    table-layout: fixed;
}

.awards_actor_content_tables_header{
    background-color: #d1282d;
    color: #ffffff;
    font-size: 18px;
    margin-top: 0.5cm;
}

.awards_actor_content_tables_header p{
    margin-right: 0.2cm;
}

.awards_actor_content_tables_content td{
    border: 1px solid #aaaaaa;
}

.awards_actor_content_tables_cellHeader{
    width: 5cm;
}

.awards_actor_content_tables_cellHeader p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.awards_actor_content_tables_cellContent p{
    margin-right: 0.2cm;
    font-size: 16px;
    font-weight: 600;
}

.awards_actor_content_tables_year{
    width: 1.5cm;
    text-align: center;
    font-size: 18px;
}

/********************************************************************************************/
/*news page*/

#news_title{
    font-size: 25px;
    font-weight: 600;
}

.news_item{
    overflow: auto;
}

.news_item img{
    float: right;
    margin: 0.1cm 0.3cm 0.3cm 0.3cm;
}

.news_info{
    color: #aaaaaa;
    font-size: 10px;
}

.news_info a{
    font-size: 18px;
}

.news_pageNumbers{
    float: right;
    position: relative;
    left: -35%;
    margin: 0.5cm 0.05cm 0 0.05cm;
    width: 0.6cm;
    height: 0.6cm;
    background-color: #aaaaaa;
    color: #ffffff;
    clear: none;
    text-align: center;
    border-radius: 0.5cm;
}

.news_pageIndex{
    background-color: #d1282d;
}

/******************************************************************************************/
/*review page*/
#review_mainImage{
    width: 100%;
    height: auto;
}




.sideBar_header{
    font-size: 15px;
    height: 0.8cm;
    overflow: auto;
}

.sideBar_content{
    overflow: auto;
}

.sideBar_header>p{
    margin: 0.1cm 0.2cm 0.1cm 0;
}

.back_gray_dark{
    background-color: #424242;
}

.back_gray_light{
    background-color: #eeeeee;
}

.font_white{
    color: #ffffff;
}

.movieNews_div>p{
    margin: 0.1cm;
    font-size: 8px;
}

.movieNews_div>p>a{
    font-size: 14px;
}

.sideBar_userList_div>img{
    float: right;
    width: 1.5cm;
    height: 2cm;
    margin: 0.2cm 0.2cm 0 0.2cm;
}

.sideBar_userList_div>div{
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.sideBar_userList_topicNumber{
    font-size: 8px;
}

.sideBar_userList_writer{
    font-size: 10px;
}








































