{% extends 'base/base.html' %}
{% load DateFilters %}
{% load toPersian %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        index
    {% endblock %}

    {% block load_files %}
        <link href="{% static "styleSheets/index.css" %}" type="text/css" rel="stylesheet">
        <script src="{% static "scripts/index.js" %}" type="text/javascript" language="JavaScript"></script>
    {% endblock %}

</head>
<body>



{% block content %}

    <div class="border_bottom_div">
        <div id="first_films">
            <div id="play_movie_0" class="teasers movie_image_info_wrapper play_movie">
                <img src="{{ Teasers.0.image.url }}">
                <button type="button"  id="play_movie_0">
                    <img src="{% static 'icons/play.png' %}">
                </button>
                <div class="movie_image_info">
                    <p>
                        {{ Teasers.0.movie.name }}
                    </br>
                        {{ Teasers.0.date_uploaded|convert_to_shamsi|get_year|IntegerToPersian }}
                    </p>
                </div>
            </div>
            <div id="play_movie_1" class="teasers movie_image_info_wrapper play_movie">
                <img src="{{ Teasers.1.image.url }}">
                <button type="button" id="play_movie_1">
                    <img src="{% static 'icons/play.png' %}">
                </button>
                <div class="movie_image_info">
                    <p>
                        {{ Teasers.1.movie.name }}
                        </br>
                        {{ Teasers.1.date_uploaded|convert_to_shamsi|get_year|IntegerToPersian }}
                    </p>
                </div>
            </div>
            <div id="play_movie_2" class="teasers movie_image_info_wrapper play_movie">
                <img src="{{ Teasers.2.image.url }}">
                <button type="button" id="play_movie_2">
                    <img src="{% static 'icons/play.png' %}">
                </button>
                <div class="movie_image_info">
                    <p>
                        {{ Teasers.2.movie.name }}
                        </br>
                        {{ Teasers.2.date_uploaded|convert_to_shamsi|get_year|IntegerToPersian }}
                    </p>
                </div>
            </div>
            <a href="">
                <p>
                    مشاهده همه فیلم ها»
                </p>
            </a>
        </div>
    </div>



    <div id="last_news_wrapper" class="border_bottom_div padding_right_large padding_left">
        <div id="last_news">
            <div id="last_title">
                <p id="last_title">
                    آخرین اخبار
                </p>
            </div>
            <div id="last_buttons" >
                <ul class="nav nav-pills">
                    <li class="active" id="last_buttons_0">
                        <a data-toggle="tab" href="#nav_articles_0">
                            <p>
                                سینمای ایران
                            </p>
                        </a>
                    </li>
                    <img src="{% static 'icons/index/line2.png' %}" id="last_buttons_line_1" class="last_buttons_lines_class">
                    <li id="last_buttons_1">
                        <a data-toggle="tab" href="#nav_articles_1">
                            <p>
                            سینمای جهان
                            </p>
                        </a>
                    </li>
                    <img src="{% static 'icons/index/line2.png' %}" id="last_buttons_line_2" class="last_buttons_lines_class">
                    <li id="last_buttons_2">
                        <a data-toggle="tab" href="#nav_articles_2">
                            <p>
                                تلویزیون
                            </p>
                        </a>
                    </li>
                    <img src="{% static 'icons/index/line2.png' %}" id="last_buttons_line_3" class="last_buttons_lines_class">
                    <li id="last_buttons_3">
                        <a data-toggle="tab" href="#nav_articles_3">
                            <p>
                                هنرمندان
                            </p>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="tab-content">
                <div id="nav_articles_0" class="last_news_div tab-pane fade nav_articles">
                    {% if News_Iran_Cinema %}
                        <div class="nav_articles_main">
                            <img src="{{ News_Iran_Cinema.0.image.url }}" class="nav_images">
                            <div class="nav_main_news">
                                <p class="nav_main_news_title">
                                    <a href="">
                                        {{ News_Iran_Cinema.0.title }}
                                    </a>
                                    <span>
                                        {{ News_Iran_Cinema.0.dateUpload|get_diff_date }}
                                        قبل/
                                        {{ News_Iran_Cinema.0.source }}
                                    </span>
                                </p>
                                <p class="nav_main_news_content">
                                    <span>
                                        {{ News_Iran_Cinema.0.text }}
                                    </span>
                                    <a href="#">
                                        ادامه مطلب
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="nav_titles">
                        <div class="nav_title_0">
                            {% for item in News_Iran_Cinema %}
                                {% if forloop.counter0 == 1 or forloop.counter0 == 2 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="nav_title_1">
                            {% for item in News_Iran_Cinema %}
                                {% if forloop.counter0 == 3 or forloop.counter0 == 4 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>



                <div id="nav_articles_1" class="last_news_div tab-pane fade nav_articles">
                    {% if News_World_Cinema %}
                        <div class="nav_articles_main">
                            <img src="{{ News_World_Cinema.0.image.url }}" class="nav_images">
                            <div class="nav_main_news">
                                <p class="nav_main_news_title">
                                    <a href="">
                                        {{ News_World_Cinema.0.title }}
                                    </a>
                                    <span>
                                        {{ News_World_Cinema.0.dateUpload|get_diff_date }}
                                        قبل/
                                        {{ News_World_Cinema.0.source }}
                                    </span>
                                </p>
                                <p class="nav_main_news_content">
                                    <span>
                                        {{ News_World_Cinema.0.text }}
                                    </span>
                                    <a href="#">
                                        ادامه مطلب
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="nav_titles">
                        <div class="nav_title_0">
                            {% for item in News_World_Cinema %}
                                {% if forloop.counter0 == 1 or forloop.counter0 == 2 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="nav_title_1">
                            {% for item in News_World_Cinema %}
                                {% if forloop.counter0 == 3 or forloop.counter0 == 4 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div id="nav_articles_1" class="last_news_div tab-pane fade nav_articles">
                    {% if News_TV %}
                        <div class="nav_articles_main">
                            <img src="{{ News_TV.0.image.url }}" class="nav_images">
                            <div class="nav_main_news">
                                <p class="nav_main_news_title">
                                    <a href="">
                                        {{ News_TV.0.title }}
                                    </a>
                                    <span>
                                        {{ News_TV.0.dateUpload|get_diff_date }}
                                        قبل/
                                        {{ News_TV.0.source }}
                                    </span>
                                </p>
                                <p class="nav_main_news_content">
                                    <span>
                                        {{ News_TV.0.text }}
                                    </span>
                                    <a href="#">
                                        ادامه مطلب
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="nav_titles">
                        <div class="nav_title_0">
                            {% for item in News_TV %}
                                {% if forloop.counter0 == 1 or forloop.counter0 == 2 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="nav_title_1">
                            {% for item in News_TV %}
                                {% if forloop.counter0 == 3 or forloop.counter0 == 4 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>



                <div id="nav_articles_1" class="last_news_div tab-pane fade nav_articles">
                    {% if News_honarmandan %}
                        <div class="nav_articles_main">
                            <img src="{{ News_honarmandan.0.image.url }}" class="nav_images">
                            <div class="nav_main_news">
                                <p class="nav_main_news_title">
                                    <a href="">
                                        {{ News_honarmandan.0.title }}
                                    </a>
                                    <span>
                                        {{ News_honarmandan.0.dateUpload|get_diff_date }}
                                        قبل/
                                        {{ News_honarmandan.0.source }}
                                    </span>
                                </p>
                                <p class="nav_main_news_content">
                                    <span>
                                        {{ News_honarmandan.0.text }}
                                    </span>
                                    <a href="#">
                                        ادامه مطلب
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="nav_titles">
                        <div class="nav_title_0">
                            {% for item in News_honarmandan %}
                                {% if forloop.counter0 == 1 or forloop.counter0 == 2 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="nav_title_1">
                            {% for item in News_honarmandan %}
                                {% if forloop.counter0 == 3 or forloop.counter0 == 4 %}
                                    <p class="nav_main_news_title">
                                        <a href="">
                                            {{ item.title }}
                                        </a>
                                        <span>
                                            {{ item.dateUpload|get_diff_date }}
                                            قبل/
                                            {{ item.source }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>



            <div class="tab-content" id="nav_content">
                {% for news_item in news %}
                    <div id="nav_articles_{{ forloop.counter0 }}" class="tab-pane fade nav_articles">
                        <div class="nav_articles_main">
                            <img src="/media/images/index/LastNews/{{ news_item.image_name }}" class="nav_images">
                            <div class="nav_main_news">
                                <a href="#">
                                    <p>
                                        {{ news_item.main_news_title }}
                                    </p>
                                </a>
                                <p>
                                    {{ news_item.main_news_article }}
                                    <a href="#">
                                        ادامه مطلب
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="nav_titles">
                            {% for item in news_item.item %}
                                {% if forloop.counter0 < 2 %}
                                    <div class="nav_title_0">
                                        <a href="#">
                                            <p>
                                                {{ item.news_title }}
                                            </p>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="nav_title_1">
                                        <a href="#">
                                            <p>
                                                {{ item.news_title }}
                                            </p>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div id="last_images" class="border_bottom_div padding_right_large padding_top padding_left">
        <div id="last_images_title_div">
            <p class="section_title">
                آخرین عکس ها
            </p>
        </div>
        <a href="">
            <div id="last_images_0" class="last_images_class">
                <img src="{{ gallery1.0.image.url }}">
            </div>
        </a>
        <div id="last_images_1_2">
            <a href="">
                <div id="last_images_1" class="last_images_class">
                    <img src="{{ gallery2.0.image.url }}">
                </div>
            </a>
            <a href="">
                <div id="last_images_2" class="last_images_class">
                    <img src="{{ gallery3.0.image.url }}">
                </div>
            </a>
        </div>
        <a href="">
            <div id="last_images_3" class="last_images_class">
                <img src="{{ gallery4.0.image.url }}" >
            </div>
        </a>
    </div>



    <div id="birthday" class="border_bottom_div">
        <p id="birthday_title">
            متولدین امروز
        </p>
        {% for item in Celebrity|slice:':3' %}
            <a href="{% url 'CelebrityManager_show_celebrity' item.id  %}">
                <img src="{{ item.get_picture }}" class="birthday_images">
            </a>
        {% endfor %}
    </div>



    <div id="poll" class="padding_right_large">
        <p class="section_title">
            نظر سنجی
        </p>
        <p id="poll_description">
            {{ Poll.text }}
            <a href="go_poll">
            رای دادن >>
            </a>
        </p>

        {% for item in PollOptions %}
            <img src="{{ item.image.url }}" class="poll_images">
        {% endfor %}
    </div>

{% endblock %}

{% block sideBar_arbitrary %}
{% endblock %}

{% block sideBar_lastUserList %}
{% endblock %}

{% block sideBar_relatedNews %}
{% endblock %}

{% block over_content %}
    <div id="frame_movie_background_dark">
    </div>
    {% for teaser in Teasers %}
        <div id="play_movie_{{ forloop.counter0 }}_div" class="frame_movie_wrapper">
            <button type="button" class="exit_play_movie">
                <img src="{% static 'icons/index/closeSliderButton.png' %}">
            </button>
            <div>
                {{ teaser.video_link|safe }}
            </div>
        </div>
    {% endfor %}
{% endblock %}




</body>
</html>


