{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        index
    {% endblock %}

</head>
<body>



{% block content %}
    
    <div id="index_3_first_films">
        <img src="/media/images/index/Films3/0.jpg"  id="index_movies_movie_0">
        <img src="/media/images/index/Films3/1.jpg"  id="index_movies_movie_1">
        <img src="/media/images/index/Films3/2.jpg"  id="index_movies_movie_2">
    </div>

    <img src="/static/icons/index/long-line.png" class="index_long_line">

    <div id="index_last_news">
        <p id="index_last_title">
            آخرین اخبار
        </p>



        <div id="index_last_buttons" >
            <ul class="nav nav-pills">

                {% for news_item in news %}

                    {% if forloop.counter0 == 0 %}
                        <li class="active" id="index_last_buttons_{{ forloop.counter0 }}">
                            <a data-toggle="tab" href="#index_nav_articles_{{ forloop.counter0 }}">
                                {{ news_item.button_label }}
                            </a>
                        </li>

                    {% else %}
                        <img src="/static/icons/index/line2.png"
                             id="index_last_buttons_line_{{ forloop.counter0 }}">
                        <li id="index_last_buttons_{{ forloop.counter0 }}" >
                            <a data-toggle="tab" href="#index_nav_articles_{{ forloop.counter0 }}">
                                {{ news_item.button_label }}
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}

            </ul>
        </div>



        <div class="tab-content" id="index_nav_content">


            {% for news_item in news %}

                <div id="index_nav_articles_{{ forloop.counter0 }}" class="tab-pane fade index_nav_articles">
                    <div class="index_nav_articles_main">
                        <img src="/media/images/index/LastNews/{{ news_item.image_name }}" class="index-nav-images">
                        <div class="index-nav-main-news">
                            <a href="#">
                                <p>
                                    {{ news_item.main_news_title }}
                                </p>
                            </a>
                            <p>
                                {{ news_item.main_news_article }}
                                <a href="#">
                                    ادامه مطلب
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="index_nav_titles">
                        {% for item in news_item.item %}
                            {% if forloop.counter0 < 2 %}
                                <div class="index_nav_title_0">
                                    <a href="#">
                                        <p>
                                            {{ item.news_title }}
                                        </p>
                                    </a>
                                </div>
                            {% else %}
                                <div class="index_nav_title_1">
                                    <a href="#">
                                        <p>
                                            {{ item.news_title }}
                                        </p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <img src="/static/icons/index/long-line.png" class="index_long_line">


    <div id="index_last_images">
        <p id="" class="section_title">
            آخرین عکس ها
        </p>



        <a href="">
            <img src="/media/images/index/LastImages/000.jpg"
                    id="index_last_images_0">
        </a>
        <div id="index_last_images_1_2">
            <a href="">
                <img src="/media/images/index/LastImages/222.jpg"
                        id="index_last_images_1">
            </a>
            <a href="">
                <img src="/media/images/index/LastImages/333.jpg"
                        id="index_last_images_2">
            </a>
        </div>
        <a href="">
            <img src="/media/images/index/LastImages/111.jpg"
                    id="index_last_images_3">
        </a>

    </div>

    <img src="/static/icons/index/long-line.png" class="index_long_line">

    <div id="index_birthday">
        <p id="index_birthday_title">
            متولدین امروز
        </p>
        <img src="{{ BASE_URL }}/media/images/index/Birthday/2.jpg" class="index_birthday_images">
        <img src="{{ BASE_URL }}/media/images/index/Birthday/1.jpg" class="index_birthday_images">
        <img src="{{ BASE_URL }}/media/images/index/Birthday/0.jpg" class="index_birthday_images">
    </div>

    <img src="/static/icons/index/long-line.png" class="index_long_line">


    <div id="index_poll">

        <p class="section_title">
            نظر سنجی
        </p>

        <p id="index_poll_description">
            ازمیان فیلم های ایران کدامیک را بیشتر می پسندید؟
            <a href="index_go_poll">
            رای دادن >>
            </a>
        </p>

        <img src="{{ BASE_URL }}/media/images/index/Poll/0.jpg" class="index_poll_images">
        <img src="{{ BASE_URL }}/media/images/index/Poll/1.jpg" class="index_poll_images">
        <img src="{{ BASE_URL }}/media/images/index/Poll/2.jpg" class="index_poll_images">
        <img src="{{ BASE_URL }}/media/images/index/Poll/3.jpg" class="index_poll_images">
        <img src="{{ BASE_URL }}/media/images/index/Poll/4.jpg" class="index_poll_images">

    </div>





{% endblock %}





</body>
</html>


