{% extends 'base/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        index
    {% endblock %}

    {% block load_files %}
        <link href="{% static "styleSheets/index.css" %}" type="text/css" rel="stylesheet">
        <script src="{% static "scripts/index.js" %}" type="text/javascript" language="JavaScript"></script>
    {% endblock %}

</head>
<body>



{% block content %}

    <div class="border_bottom_div overflow_auto">
        <div id="first_films">
            <img src="{{ Teasers.0.image.url }}"  id="movies_movie_0">
            <img src="{{ Teasers.1.image.url }}"  id="movies_movie_1">
            <img src="{{ Teasers.2.image.url }}"  id="movies_movie_2">
        </div>
    </div>



    <div class="border_bottom_div overflow_auto">
        <div id="last_news">
            <p id="last_title">
                آخرین اخبار
            </p>
            <div id="last_buttons" >
                <ul class="nav nav-pills">
                    {% for news_item in news %}
                        {% if forloop.counter0 == 0 %}
                            <li class="active" id="last_buttons_{{ forloop.counter0 }}">
                                <a data-toggle="tab" href="#nav_articles_{{ forloop.counter0 }}">
                                    {{ news_item.button_label }}
                                </a>
                            </li>
                        {% else %}
                            <img src="/static/icons/index/line2.png"
                                 id="last_buttons_line_{{ forloop.counter0 }}">
                            <li id="last_buttons_{{ forloop.counter0 }}" >
                                <a data-toggle="tab" href="#nav_articles_{{ forloop.counter0 }}">
                                    {{ news_item.button_label }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>


            <div class="tab-content" id="nav_content">
                {% for news_item in news %}
                    <div id="nav_articles_{{ forloop.counter0 }}" class="tab-pane fade nav_articles">
                        <div class="nav_articles_main">
                            <img src="/media/images/index/LastNews/{{ news_item.image_name }}" class="nav_images">
                            <div class="nav_main_news">
                                <a href="#">
                                    <p>
                                        {{ news_item.main_news_title }}
                                    </p>
                                </a>
                                <p>
                                    {{ news_item.main_news_article }}
                                    <a href="#">
                                        ادامه مطلب
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="nav_titles">
                            {% for item in news_item.item %}
                                {% if forloop.counter0 < 2 %}
                                    <div class="nav_title_0">
                                        <a href="#">
                                            <p>
                                                {{ item.news_title }}
                                            </p>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="nav_title_1">
                                        <a href="#">
                                            <p>
                                                {{ item.news_title }}
                                            </p>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="border_bottom_div overflow_auto">
        <div id="last_images">
            <p id="" class="section_title">
                آخرین عکس ها
            </p>
            <a href="">
                <img src="/media/images/index/LastImages/000.jpg"
                        id="last_images_0">
            </a>
            <div id="last_images_1_2">
                <a href="">
                    <img src="/media/images/index/LastImages/222.jpg"
                            id="last_images_1">
                </a>
                <a href="">
                    <img src="/media/images/index/LastImages/333.jpg"
                            id="last_images_2">
                </a>
            </div>
            <a href="">
                <img src="/media/images/index/LastImages/111.jpg"
                        id="last_images_3">
            </a>
        </div>
    </div>



    <div id="birthday" class="border_bottom_div">
        <p id="birthday_title">
            متولدین امروز
        </p>
        <img src="{{ BASE_URL }}/media/images/index/Birthday/2.jpg" class="birthday_images">
        <img src="{{ BASE_URL }}/media/images/index/Birthday/1.jpg" class="birthday_images">
        <img src="{{ BASE_URL }}/media/images/index/Birthday/0.jpg" class="birthday_images">
    </div>



    <div id="poll">
        <p class="section_title">
            نظر سنجی
        </p>
        <p id="poll_description">
            ازمیان فیلم های ایران کدامیک را بیشتر می پسندید؟
            <a href="go_poll">
            رای دادن >>
            </a>
        </p>

        {% for address in poll_images %}
            <img src="{{ address }}" class="poll_images">
        {% endfor %}
    </div>

{% endblock %}

{% block sideBar_arbitrary %}
{% endblock %}

{% block sideBar_lastUserList %}
{% endblock %}

{% block sideBar_relatedNews %}
{% endblock %}




</body>
</html>


