{% extends 'base/base.html' %}
{% load DateFilters %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% block content %}

    <div id="news_title" class="padding_left padding_right padding_top">
        <p>
            {{ category }}
        </p>
    </div>

    {% for item in news %}
        <div class="news_item border_bottom_div padding_right padding_left padding_top">
            <img src="{{ item.image.url }}">
            <p class="news_info">
                <a href="">
                    {{ item.title }}
                </a>
                {{ item.dateUpload|get_diff_date }}
                 قبل/
                {{ item.source }}
            </p>
            <p class="news_content">
                {{ item.subText }}
                <a href="">
                    ادامه مطلب»
                </a>
            </p>
        </div>
    {% endfor %}


    {% for number in pageNumbers %}
        {% if forloop.counter0 == pageIndex  %}
            <button class="news_pageNumbers news_pageIndex">
                <p>
                    {{ page_number }}
                </p>
            </button>
        {% else %}
            <button class="news_pageNumbers">
                <p>
                    {{ page_number }}
                </p>
            </button>
        {% endif %}
    {% endfor %}



{% endblock %}

</body>
</html>