{% extends 'base/base.html' %}
{% load DateFilters %}
{% load toPersian %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% block load_files %}
        <link href="{% static 'styleSheets/news.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block content %}

    <div id="title" class="padding_left padding_right padding_top">
        <p>
            {{ category }}
        </p>
    </div>

    {% for item in news %}
        <div class="item border_bottom_div padding_right padding_left padding_top">
            <img src="{{ item.image.url }}">
            <p class="info">
                <a href="">
                    {{ item.title }}
                </a>
                {{ item.dateUpload|get_diff_date }}
                 قبل/
                {{ item.source }}
            </p>
            <p class="content">
                {{ item.subText }}
                <a href="">
                    ادامه مطلب»
                </a>
            </p>
        </div>
    {% endfor %}


    {% for number in pageNumbers %}
        {% if forloop.counter0 == pageIndex  %}
            <button class="pageNumbers pageIndex">
                <p>
                    {{ forloop.counter|IntegerToPersian }}
                </p>
            </button>
        {% else %}
            <button class="pageNumbers">
                <p>
                    {{ forloop.counter|IntegerToPersian }}
                </p>
            </button>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block sideBar_lastUserList %}
{% endblock %}

{% block sideBar_relatedNews %}
{% endblock %}




</body>
</html>