{% extends 'base/base.html' %}
{% load DateFilters %}
{% load toPersian %}
{% load static %}
{#{% load  %}#}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        news
    {% endblock %}
    {% block load_files %}
        <link href="{% static 'styleSheets/news.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block content %}


    <div id="title" class="padding_left padding_right padding_top">
        <p>
            {{ category|NewsCategoryToPersian }}
        </p>
    </div>

    {% for item in news %}
        <div class="item border_bottom_div padding_right padding_left padding_top">
            <img src="{{ item.image.url }}">
            <p class="info">
                <a href="">
                    {{ item.title }}
                </a>
                {{ item.dateUpload|get_diff_date }}
                 قبل/
                {{ item.source }}
            </p>
            <p class="content">
                {{ item.subText }}
                <a href="{% url 'AdminManager_show_news_text' item.id %}">
                    ادامه مطلب»
                </a>
            </p>
        </div>
    {% endfor %}

    <div id=page_number_container >
        {% for number in count_page %}
            {% if forloop.counter == page_number  %}
                <button class="pageNumbers pageIndex">
                    <p>
                        {{ forloop.counter|IntegerToPersian }}
                    </p>
                </button>
            {% else %}
                <a href="{% url 'AdminManager_show_news_list_page' page=forloop.counter category=category %}">
                    <button class="pageNumbers">
                        <p>
                            {{ forloop.counter|IntegerToPersian }}
                        </p>
                    </button>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block sideBar_lastUserList %}
{% endblock %}

{% block sideBar_relatedNews %}
{% endblock %}




</body>
</html>