{% extends 'movAct_sideBar.html' %}
{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    {% block content %}
        <div id="actor_info" class="div_longLine padding_top padding_right">
            <img src="{{ main_image }}" id="actor_info_mainImage">
            <div id="actor_info_top" class="div_longLine">
                <div id="actor_info_top_name">
                    <p>
                        <dum>
                            {{ actor.name }}
                        </dum>
                        <br/>
                        {{ actor.jobs }}
                    </p>
                </div>
                <div id="actor_info_top_point">
                    <p>
                        {{ actor.point }}
                    </p>
                </div>

            </div>
            <div id="actor_info_biography">
                <p>
                    {{ actor.biography }}
                    <br/>
                    <a href="" id="actor_info_biography_seeAll">
                        <p>
                            بیوگرافی کامل>>
                        </p>
                    </a>
                </p>
            </div>

            <div id="actor_info_birthday">
                <p>
                    تولد:
                    {{ actor.birthday }}
                    .
                    {{ actor.city }}
                </p>
            </div>

            <a href="">
                <img src="/static/icons/actor/arrow.png" id="actor_info_arrowButton">
            </a>

            <div id="actor_info_images_div">
                {% for item in images|slice:":3" %}
                    <img src="{{ item }}" class="actor_info_images">
                {% endfor %}

                <img src="{{ movie_image }}" class="actor_info_images">

                <a href="" id="actor_info_images_seeAll">
                    <p>
                        همه عکس ها و ویدیوها>>
                    </p>
                </a>
            </div>

        </div>

        <div id="actor_prizes" class="div_longLine padding_right padding_left">
            <div>
                <p>
                    <dum>
                        {{ actor.mainPrize }}
                    </dum>
                    {{ actor.prizes }}

                    <a href="">
                        مشاهده همه جوایز>>
                    </a>
                </p>
            </div>
        </div>


        <div id="actor_proposedWorks" class="div_longLine padding_top padding_right">
            <div>
                <p>
                    آثار مطرح
                </p>
                <div>
                    {% for item in actor.proposedWorks %}
                        <img src="{{ item }}" class="actor_proposedWorks_images">
                    {% endfor %}
                </div>
            </div>
        </div>



        <div id="actor_filmography" class="div_longLine padding_top padding_right padding_left">

            <p id="actor_filmography_title">
                فیلموگرافی
            </p>

            <div class="actor_filmography_headers">
                <div class="actor_filmography_headers_1">
                    <p>
                        بازیگر
                    </p>
                </div>
                <div class="actor_filmography_headers_2">
                    <a id="actor_filmography_actor" class="dropDown">
                        <div>
                            <img src="/static/icons/actor/triangle.png" class="actor_filmography_buttons">
                        </div>
                    </a>
                </div>
            </div>
            <div id="actor_filmography_actor_div">
                {% for movie in actor.actMovies %}
                    <div class="actor_filmography_bodies">
                        <p>
                            <a href="">
                                {{ movie.name }}
                            </a>
                            <dum1>
                                {{ movie.year }}
                            </dum1>
                            <br/>
                            <dum2>
                                {{ movie.actorName }}
                            </dum2>
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="actor_filmography_headers">
                <div class="actor_filmography_headers_1">
                    <p>
                        کارگردان
                    </p>
                </div>
                <div class="actor_filmography_headers_2">
                    <a id="actor_filmography_directories" class="dropDown">
                        <div>
                            <img src="/static/icons/actor/triangle.png" class="actor_filmography_buttons">
                        </div>
                    </a>
                </div>
            </div>
            <div id="actor_filmography_directories_div">
                {% for movie in actor.dirMovies %}
                    <div class="actor_filmography_bodies">
                        <p>
                            <a href="">
                                {{ movie.name }}
                            </a>
                            {% if movie.state %}
                                (
                                {{ movie.state }}
                                )
                            {% endif %}
                            <dum1>
                                {{ movie.year }}
                            </dum1>
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="actor_filmography_headers">
                <div class="actor_filmography_headers_1">
                    <p>
                    تدوینگر
                    </p>
                </div>
                <div class="actor_filmography_headers_2">
                    <a id="actor_filmography_editor" class="dropDown">
                        <div>
                            <img src="/static/icons/actor/triangle.png" class="actor_filmography_buttons">
                        </div>
                    </a>
                </div>
            </div>
            <div id="actor_filmography_editor_div">
                {% for movie in actor.ediMovies %}
                    <div class="actor_filmography_bodies">
                        <p>
                            <a href="">
                                {{ movie.name }}
                            </a>
                            <dum1>
                                {{ movie.year }}
                            </dum1>
                        </p>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div id="actor_userPost" class="div_longLine padding_right padding_left">
            <p>
                پست های کاربران
            </p>

            <dum>
                <p>
                    آخرین پست ها
                </p>
            </dum>

            {% for post in actor.posts|slice:":3" %}
                <div class="actor_userPost_bodies">
                    <div>
                        <p>
                            {{ post.text }}
                        </p>
                    </div>
                    <dum>
                        <div>
                            <img src="{{ post.imageUrl }}">
                            <p>
                                {{ post.userName }}
                            </p>
                        </div>
                    </dum>
                </div>
            {% endfor %}

            <div id="actor_userPost_all">
                {% for post in actor.posts|slice:"3:" %}
                    <div class="actor_userPost_bodies">
                        <div>
                            <p>
                                {{ post.text }}
                            </p>
                        </div>
                        <dum>
                            <div>
                                <img src="{{ post.imageUrl }}">
                                <p>
                                    {{ post.userName }}
                                </p>
                            </div>
                        </dum>
                    </div>
                {% endfor %}
            </div>

            <a id="actor_userPost_seeAll">
                <p>
                    همه پست ها>>
                </p>
            </a>

            <a id="actor_userPost_hideAll">
                <p>
                    کمتر>>
                </p>
            </a>
        </div>



        <div id="actor_changeInfo" class="div_longLine padding_right padding_left">
            <p>
                <dum>
                    تغییر اطلاعات
                </dum>
                (مخصوص کاربران ویژه)
            </p>

            <button id="actor_changeInfo_button">
                <p>
                    ایجاد تغییرات
                </p>
            </button>
        </div>

    {% endblock %}

    {% block side_bar %}

        <div id="movAct_sideBar_fastAccess">

            <div id="movAct_sideBar_fastAccess_title">
                <p>
                    دستیابی سریع
                </p>
            </div>


            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#actor_info">
                        بیوگرافی
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#actor_info">
                        عکس ها و ویدیو ها
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#actor_filmography">
                        فیلموگرافی
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#actor_userPost">
                        پست های کاربران
                    </a>
                </p>
            </div>
            <div class="movAct_sideBar_fastAccess_1">
                <p>
                    <a href="#actor_prizes">
                        جوایز
                    </a>
                </p>
            </div>

        </div>

        <div id="movAct_sideBar_bestArticle">
            <div id="movAct_sideBar_bestArticle_title">
                <p>
                مقاله برگزیده
                </p>
            </div>

            <img src="/media/images/movie/bestArticleImg.jpg" id="movAct_sideBar_bestArticle_image">

            <div id="movAct_sideBar_bestArticle_content">
                <p>
                    {{ bestArticle }}
                </p>

                <p id="movAct_sideBar_bestArticle_content_continue">
                    <a href="">
                        ادامه مطلب >>
                    </a>
                </p>

            </div>


        </div>


        <div id="movAct_sideBar_news">
            <div id="movAct_sideBar_news_title">
                <p>
                    اخبار
                </p>
            </div>

            {% for item in news %}
                <div class="div_longLine">
                    <a>
                        <p>
                            {{ item }}
                        </p>
                    </a>
                </div>
            {% endfor %}

            <p id="movAct_sideBar_news_seeAll">
                <a href="">
                    دیگر خبرها >>
                </a>
            </p>

        </div>


        <div id="movAct_sideBar_userList">
            <div id="movAct_sideBar_userList_title">
                <p>
                    آخرین لیست های کاربران
                </p>
            </div>

            {% for item in userList %}
                <div class="movAct_sideBar_userList_item div_longLine">
                    <img src="{{ item.url }}" class="movAct_sideBar_userList_image">

                    <p class="movAct_sideBar_userList_content">
                        {{ item.content }}
                    </p>

                    <p class="movAct_sideBar_userList_content_writer">
                        ایجاد شده توسط
                        <a>
                            {{ item.writer }}
                        </a>
                    </p>
                </div>
            {% endfor %}

            <p id="movAct_sideBar_userList_seeAll">
                <a href="">
                همه لیست ها >>
                </a>
            </p>

        </div>


    {% endblock %}




</body>
</html>